<div id="aufgabe">
  <h1>10.1 Static classes in TypeScript </h1>
  <p><b>Gibt es in TypeScript statische Klassen? Erläutern Sie den Unterschied von TypeScript zu
      anderen objekt-orientierten, statisch typisierten Programmiersprachen wie Java und C#.</b></p>

  <p>Geben Sie hier Ihre Antwort und Erläuterung ein: </p>
  <pre>in TypeScript  ist die Typisierung strukturelle, im gegensatz die andere Programmieresprachen wie java und C#, die nominale Typisierung sind.
in TypeScript  haben wir die möglichkeit, Variablen aus zwei verschiedenen Classen,die gleiche strukturiert sind , in einer 
Funktion zu lesen und zu ändern 
	</pre>
