<div class="container">
  <div class="middlepane">
    <div id="aufgabe">
      <h1>11.1 Registrierung mit PHP</h1>
      <p><b>Erstellen Sie mit PHP 5 auf www2.inf.h-brs.de ein Registrierungsformular. Speichern Sie die eingegebenen
          Daten
          persistent in einer Datei auf www2.inf.h-brs.de. Schreiben Sie Ihre PHP-Scripte so,
          dass es zu keinen<a href="https://de.wikipedia.org/wiki/Wettlaufsituation" target="_blank">
            Nebenläufigkeitsartefakten</a> (z.B.<a href="https://de.wikipedia.org/wiki/Verlorenes_Update"
            target="_blank">
            Lost Update </a>) kommen kann, egal wie viele Nutzer sich gleichzeitig registrieren. </b></p>
      <p>Geben Sie hier Ihre vollständige Lösung für das Registrierungsformular (ggfs. mit allen Dateien hintereinander)
        ein:</p>
      <pre>&lt;!DOCTYPE html>
        &lt;html>
        &lt;head>
        
        &lt;/head>
        
        
            &lt;div class=main> 
            &lt;h1>Registrierung&lt;/h1>
        &lt;form method="post">
                Username:&lt;br>
                &lt;input type="text" name="username">
                &lt;br>
                PASSWORD:&lt;br>
                &lt;input type="password" name="password">
                &lt;br>
                &lt;input type="submit" >
        &lt;/form>
        
        
        
        &lt;/div>
        
        &lt;/html>
        &lt;?php
            if(isset($_POST['username']) && isset($_POST['password'])) &#123;
                $username = $_POST['username'];
                $password = $_POST['password'];
                $file = './Accounts.csv';
                $new_line = hash("sha256", $username) . ',' . hash("sha256", $password) . "\n";
                if(file_put_contents($file, $new_line, FILE_APPEND | LOCK_EX)) &#123;
                    echo "&lt;script>alert('Erfolgreich registriert')&lt;/script>";
                 &#125;
             &#125;
        ?>
            
	</pre>
    </div>
  </div>
  <div class="rightpane">
    <p id="ausfuhren"> QUELLCODE AUSFÜHREN</p>
    <a class="execute" href="http://localhost/phpscript/register.php" target="_blank">klicken SIE HIER BITTE !</a>
  </div>
</div>
