<div class="container">
  <div class="middlepane">
    <div id="aufgabe">
      <h1>Aufgabe 2.3. Wireframe with HTML and CSS</h1>
      <p>Gegeben ist folgendes HTML-Wireframe:<p>
          <img src="https://kaul.inf.h-brs.de/we/assets/img/survey.png" style="max-width:600px;width:100%">
          <p>Hinweis zu den Farben: Firefox DevTools anthalten eine Pipette namens <a
              href="https://developer.mozilla.org/de/docs/Tools/Eyedropper" target="_blank">"Eyedropper"</a>, mit der
            man
            die Farben aus einer Webseite auslesen kann. Die grünliche Farbe im Rahmen des Wireframes ist demnach
            #b2d6d1,
            Hinweis zu den Schriften (Fonts): Die größte Sammlung an "kostenlosen" Web-Schriften stammt von Google und
            ist
            unter<a href="https://fonts.google.com/" target="_blank"> Google Fonts</a> zu finden. Wer lieber aus dem
            Vorrat
            an<a href="https://www.zeichenschatz.net/typography/websichere-schriften" target="_blank"> vorhanden
              Schriften</a> auswählt, wird unter websichere Schriften fündig.
            Frage: Mit welchem HTML- und CSS-Code kann man diesen Wireframe exakt nachbilden?
            Schreiben Sie Ihren CSS-Code direkt in die HTML-Datei. Geben Sie Ihren HTML- und CSS-Quellcode zusammen
            in dieses Textfeld ein:
            <p><b>QUELLCODE:</b> </p>
            <pre>
&lt;!DOCTYPE html>
&lt;style>
 

&lt;/style>
&lt;div class="grandpa">
	&lt;p class="p0">Survey Form&lt;/p>
	&lt;div class="papa">

		&lt;p class="p1">let us know how we can improve freeCodeCamp&lt;/p>
		&lt;table>

			&lt;tr>
				&lt;td class="left">*NAME&lt;/td>
				&lt;td class="right">&lt;input type="name" id="w3review"  placeholder="Enter your name">&lt;/input>&lt;/td>
			&lt;/tr>
			&lt;tr>
				&lt;td class="left">*Email&lt;/td>
				&lt;td class="right">&lt;input type="name" id="w3review" placeholder="Enter your Email">&lt;/input>&lt;/td>

			&lt;/tr>
			&lt;tr>
				&lt;td class="left">*AGE &lt;/td>
				&lt;td class="right">&lt;input type="number" id="quantity"
					name="quantity" min="12" max="100"  placeholder="AGE">&lt;/td>
			&lt;/tr>
			&lt;tr>
				&lt;td class="left">Wich options best descripes your current role&lt;/td>
				&lt;td class="right">&lt;select id="cars" name="cars">
						&lt;option value="volvo">Student&lt;/option>
						&lt;option value="saab">Mitarbeiter&lt;/option>&lt;/td>
			&lt;/tr>
			&lt;tr>
				&lt;td class="left">How likely is that you would recommend
					freeCodeCamp to a Friend&lt;/td>
				&lt;td class="right">&lt;input type="radio" id="html"
					name="fav_language" value="HTML"> &lt;label for="html">Defintely&lt;/label>&lt;br>
					&lt;input type="radio" id="css" name="fav_language" value="CSS">
					&lt;label for="css">Mabye&lt;/label>&lt;br> &lt;input type="radio"
					id="javascript" name="fav_language" value="JavaScript"> &lt;label
					for="javascript">Not Sure&lt;/label>&lt;br> &lt;br>&lt;/td>
			&lt;/tr>
			&lt;tr>
				&lt;td class="left">What do you like moste in FCC&lt;/td>
				&lt;td class="right">&lt;select id="cars" name="cars">
						&lt;option value="volvo">Select an Option&lt;/option>&lt;/td>
			&lt;/tr>
			&lt;tr>
				&lt;td class="left">Things that Should be improved in the future
					(check all that apply)&lt;/td>
				&lt;td class="right">&lt;input type="radio" id="html"
					name="fav_language" value="HTML"> &lt;label for="html">Front-end
						Projects&lt;/label>&lt;br> &lt;input type="radio" id="css" name="fav_language"
					value="CSS"> &lt;label for="css">Back-end Projects&lt;/label>&lt;br>
					&lt;input type="radio" id="javascript" name="fav_language"
					value="JavaScript"> &lt;label for="javascript">Data
						Visualization &lt;/label>&lt;br> &lt;br>&lt;/td>
			&lt;/tr>
		&lt;/table>
	&lt;/div>
 &lt;/div>

	</pre>
    </div>
  </div>

  <div class="rightpane">
    <p id="ausfuhren"> QUELLCODE AUSFÜHRUNG</p>
    <div class="Seite_html">

    </div>
  </div>
</div>
