#aufgabe {
	background:#dafdff;
	border: 1px solid black;
}

.execute {
  padding: 5px 11px;
  cursor: pointer;
  font-size: 17px;
  font-family: Verdana, sans-serif;
  text-shadow: 3px 3px 3px #ababab;

  color: white;
  background-color: #689ef7;
  border: none;
  border-radius: 9px;
}

/*W3school*/
.execute:active {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transform: translateY(8px);
}


pre {
	overflow: auto;
	background:#e3fcde;
	border:2px solid gray;
	border-style: dotted;
}

h1,h2,h3 {
    background-color: white;
    opacity: 0.8;
    font-size: 40px;
    position: sticky;
    left: 30px;
    border: 1px solid ;
    top : 0;
    padding: 0.9em;
    margin: 0.2em
  }
   div {
             background-color: lightpink;
            font-family:   Arial, Helvetica, sans-serif;
              font-size: 20px;
            padding: 0.5em;
             margin: 0.5em;
         }