<div class="container">
  <div class="middlepane">

    <div id="aufgabe">
      <h1>Aufgabe 2.2. CSS Positionierung</h1>
      <p><b>Schauen Sie sich folgendes <a href="https://www.youtube.com/watch?v=PE3POxjDspo" target="_blank"> Video</a>
          an
          und bauen Sie das dynamische Verhalten exakt nach (nur mit HTML und CSS, ohne JavaScript): </b></p>
      <img
        src="https://raw.githubusercontent.com/omarguella/-Web-Engineering/main/Exercice for the Web Seite(Aufgabenstellung %2BLosungen)/2. CSS 1. Teil/css Pos.jpg"
        class="img" style="max-width:800px;width:100%">
      <p><b>QUELLCODE:</b>
        <pre> &lt;!DOCTYPE html>
&lt;html>
&lt;head>
&lt;style>

&lt;/style>
&lt;/head>
&lt;body>

&lt;h1>Erste Uberschrift&lt;/h1>
&lt;div> TEXT  &lt;/div>

&lt;div> TEXT &lt;/div>
&lt;div> TEXT &lt;/div>

&lt;div> TEXT &lt;/div>

&lt;h2>Zweite Uberschrift&lt;/h2>
&lt;div> TEXT &lt;/div>

&lt;div> TEXT &lt;/div>
&lt;div> TEXT &lt;/div>
&lt;div TEXT &lt;/div>

&lt;h3>Dritte Uberschrift&lt;/h3>
&lt;div> TEXT &lt;/div>
&lt;div> TEXT &lt;/div>
&lt;div TEXT &lt;/div>



&lt;/body>
&lt;/html>

	</pre>
        <p><b>Schauen Sie sich folgendes <a href="https://www.youtube.com/watch?v=HVmnv3k4__E" target="_blank">
              Video</a>
            an
            und bauen Sie das dynamische Verhalten exakt nach (nur mit HTML und CSS, ohne JavaScript): </b></p>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Hochschule_Bonn-Rhein-Sieg_Wolfgang_G%C3%B6ddertz_Induktion.jpg"
          style="max-width:800px;width:100%">
        <p><b>QUELLCODE:</b>
          <pre> &lt;!DOCTYPE html>
&lt;html>
&lt;head>
&lt;style> 
h1 
	
 font-size: 40px;
   
  
  
  input[type='checkbox']:checked + label 
	background: url('https://upload.wikimedia.org/wikipedia/commons/a/a4/Hochschule_Bonn-Rhein-Sieg_Wolfgang_G%C3%B6ddertz_Induktion.jpg') ;
	max-width: 900px;
	height: 600px; 
	background-size: contain;
	  display: block;
	 margin-left: auto;
	 margin-right: auto;
  
&lt;/style>
&lt;/head>
&lt;body>
  &lt;h1> Ubung 2.2&lt;/h1>
&lt;input id="myInput" type="checkbox" name="myInput">hide and show via checkbox&lt;/input>
&lt;label for="myInput">&lt;/label>

&lt;/body>
&lt;/html>
</pre>
    </div>
  </div>


  <div class="rightpane">
    <p id="ausfuhren"> QUELLCODE AUSFÜHRUNG</p>
    <div class="Seite_html">

      <h1 id="title">Erste Uberschrift</h1>
      <div id="parg">Le français est parlé, en 2018, sur tous les continents par environ 300 millions de personnes5,2 :
        235
        millions l'emploient quotidiennement,
        et 90 millions3 en sont des locuteurs natifs. En 2018, 80 millions d'élèves et étudiants s'instruisent en
        français dans le monde6. Selon l'Organisation
        internationale de la francophonie (OIF), il pourrait y avoir 700 millions de francophones sur Terre en 20507.
      </div>

      <div id="parg"> Dans le monde, 29 États ont le français comme langue officielle. C'est une des six langues
        officielles ainsi
        qu'une des deux langues de travail

        France et Belgique
      </div>


      <h2 id="title">Zweite Uberschrift</h2>
      <div id="parg">Le français est parlé, en 2018, sur tous les continents par environ 300 millions de personnes5,2 :
        235
        millions l'emploient quotidiennement,
        et 90 millions3 en sont des locuteurs natifs. En 2018, 80 millions d'élèves et étudiants s'instruisent en
        français dans le monde6. Selon l'Organisation
        internationale de la francophonie (OIF), il pourrait y avoir 700 millions de francophones sur Terre en 20507.
      </div>

      <div id="parg"> Dans le monde, 29 États ont le français comme langue officielle. C'est une des six langues
        officielles ainsi
        qu'une des deux langues de travail
        de rlées originellement dans la partie septentrionale du domaine gallo-roman, sur le
        territoire des actuelles Suisse,
        France et Belgique
      </div>



      <h3 id="title">Dritte Uberschrift</h3>

      <div id="parg"> Dans le monde, 29 États ont le français comme langue officielle. C'est une des six langues
        officielles ainsi
        qu'une des deux langues de travail
        de l'Oïl,
        un groupe de langues romanes parlées originellement dans la partie septentrionale du domaine gallo-roman, sur le
        territoire des actuelles Suisse,
        France et Belgique
      </div>
    </div>
    <br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <p id="ausfuhren"> QUELLCODE AUSFÜHRUNG</p>
    <div class="Seite_html">
      <h1 id="u2"> Ubung 2.2</h1>
      <input id="myInput" type="checkbox" name="myInput">hide and show via checkbox
      <label for="myInput"></label>
    </div>
  </div>
</div>
