<div id="aufgabe"><h1>Aufgabe 2.2. CSS Positionierung</h1>
	<p><b>Schauen Sie sich folgendes <a href="https://www.youtube.com/watch?v=PE3POxjDspo" target="_blank" > Video</a> an und bauen Sie das dynamische Verhalten exakt nach (nur mit HTML und CSS, ohne JavaScript): </b></p>
	<img src="css Pos.jpg" style="max-width:800px;width:100%">
	<p><b>QUELLCODE:</b><button class="execute">Code Ausfuehren</button></p>
	<pre> &lt;!DOCTYPE html>
&lt;html>
&lt;head>
&lt;style>

&lt;/style>
&lt;/head>
&lt;body>

&lt;h1>Erste Uberschrift&lt;/h1>
&lt;div> TEXT  &lt;/div>

&lt;div> TEXT &lt;/div>
&lt;div> TEXT &lt;/div>

&lt;div> TEXT &lt;/div>

&lt;h2>Zweite Uberschrift&lt;/h2>
&lt;div> TEXT &lt;/div>

&lt;div> TEXT &lt;/div>
&lt;div> TEXT &lt;/div>
&lt;div TEXT &lt;/div>

&lt;h3>Dritte Uberschrift&lt;/h3>
&lt;div> TEXT &lt;/div>
&lt;div> TEXT &lt;/div>
&lt;div TEXT &lt;/div>



&lt;/body>
&lt;/html>

	</pre>
	<p><b>Schauen Sie sich folgendes <a href="https://www.youtube.com/watch?v=HVmnv3k4__E" target="_blank" > Video</a> an und bauen Sie das dynamische Verhalten exakt nach (nur mit HTML und CSS, ohne JavaScript):  </b></p>
	<img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Hochschule_Bonn-Rhein-Sieg_Wolfgang_G%C3%B6ddertz_Induktion.jpg"   style="max-width:800px;width:100%">
	<p><b>QUELLCODE:</b><button class="execute">Code Ausfuehren</button></p>
	<pre> &lt;!DOCTYPE html>
&lt;html>
&lt;head>
&lt;style> 

&lt;/style>
&lt;/head>
&lt;body>
  &lt;h1> Ubung 2.2&lt;/h1>
&lt;input id="myInput" type="checkbox" name="myInput">hide and show via checkbox&lt;/input>
&lt;label for="myInput">&lt;/label>

&lt;/body>
&lt;/html>
</pre>
</div>