<div id="aufgabe">
  <h1>8.1 Promises</h1>
  <p><b>Erstellen Sie auf Ihrem Server www2.inf.h-brs.de (oder localhost) zwei Text-Dateien A.txt und B.txt mit ungefähr
      gleich
      vielen Zeilen. Laden Sie mit der fetch-API parallel beide Text-Dateien vom Server. Geben Sie auf einer Webseite
      den Inhalt beider
      Dateien zeilenweise aus, wobei der Anfang der Zeile aus A.txt und das Ende aus B.txt stammen soll. Die beiden
      Dateien sollen also
      zeilenweise konkateniert werden. Erzielen Sie max. Geschwindigkeit durch maximale Parallelität. Achten Sie
      gleichzeitig auf Korrektheit.
      Verwenden Sie dabei ausschließlich die Promise API ohne async / await.</b></p>
  <p>Geben Sie die komplette HTML-Seite für die Promise-Lösung inkl. JavaScript-Quelltext an: </p>
  <p>QUELLCODE:</p>

  <pre>&lt;!DOCTYPE html>
&lt;html>

&lt;head>

    &lt;script>
        var texta = fetch('A.txt');
        var textb = fetch('B.txt');

        Promise.all([
            arrayA.then(x => x.text()).split("'\r\n"),
            ArrayB.then(x => x.text()).split("'\r\n")
        ]).then(() =>   
            var maxlen = (arrayA.length >= arrayB.length) ? maxlen = arrayA.length : maxlen = arrayB.length;

            for (var i = 0; i &lt; maxlen; i++)   
                document.getElementById("feld").textContent += arrayA[i] + arrayB[i];
              
          );
    &lt;/script>

&lt;/head>

&lt;body>
    &lt;div>
        &lt;h1>8.1. Promises&lt;/h1>
        &lt;div id="feld">&lt;/div>

    &lt;/div>

&lt;/body>

&lt;/html>

	</pre>
