<div id="aufgabe">
  <h1>Aufgabe 4.1. Funktionen</h1>
  <p><b>Schreiben Sie eine Funktion<code> identity()</code>, die ein Argument als Parameter entgegen nimmt und dieses
      als Ergebnis zurück gibt.</b></p>

  <p>QUELLCODE:</p>
  <pre> function identity(arg) &#123;
    return arg; &#125;
	</pre>


  <p><b>Schreiben Sie eine Funktion<code> identity_function()</code>, die ein Argument als Parameter entgegen nimmt und
      eine Funktion zurück gibt, die dieses Argument zurück gibt.</b></p>

  <p>QUELLCODE:</p>
  <pre> function identity_function(arg) &#123;
    return (
        function() &#123;
            return arg;
        &#125;
    )

	</pre>

  <p><b>Schreiben Sie zwei binäre Funktionen <code> add</code> und <code> mul</code>, die Summe und Produkt
      berechnen.</b></p>

  <p>QUELLCODE:</p>
  <pre> function add(x,y) &#123;
    return x+y;
&#125;

function mul(x,y) &#123;
    return x*y;
&#125;
</pre>

  <p><b>Schreiben Sie eine Addier-Funktion <code> addf()</code> sodass <code> addf(x)(y)</code> genau <code> x+y</code>
      ,zurück gibt. (Es haben also zwei Funktionsaufrufe zu erfolgen. <code>addf(x)</code> liefert eine Funktion, die
      auf <code>y</code> angewandt wird.)</b></p>

  <pre> function addf(x)&#123;
                return (
                    function(y) &#123;
                        return x+y;
                    &#125;  ) &#125;
            </pre>


  <p><b>Schreiben Sie eine Funktion<code> applyf(),</code> die aus einer binären Funktion wie <code>add(x,y)</code> eine
      Funktion <code>addf</code> berechnet, die mit zwei Aufrufen das gleiche Ergebnis liefert, z.B. <code>addf =
        applyf(add); addf(x)(y) </code> soll <code>add(x,y)</code> liefern. Entsprechend <code>applyf(mul)(5)(6)</code>
      soll <code>30 </code> liefern, wenn <code>mul</code> die binäre Multiplikation ist.

      <p>QUELLCODE:</p>
      <pre> function applyf(binar) &#123;
    return (
        function(x) &#123;
            return (
                function(y) &#123;
                    return binar(x,y);
             &#125;
          )
      &#125;
   )
&#125;
console.log(applyf(mul)(5)(3))

</pre>
