<div id="aufgabe">
  <h1>10.3. TypeScript auf <a href="https://deno.land/" target="_blank">Deno</a></h1>
  <p><b>Auf Deno ist TypeScript ohne Übersetzung direkt ablauffähig. Deno ist also die Runtime Engine für TypeScript.

      Schreiben Sie in TypeScript möglichst umfangreich statisch typisiert ein auf Deno ablauffähiges Programm <code
        style="color:#ff0000">server.ts</code>,
      das Sie mit<code style="color:#ff0000"> deno run --allow-net server.ts </code> starten können, das die <a
        href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Fallzahlen.html"
        target="_blank">COVID-19-Fallzahlen in Deutschland</a> einliest, Minimum, Maximum,
      Durchschnitt und Summe berechnet und diese auf einer Webseite ausgibt.

      Ein Beispiel-Programm zu server.ts finden Sie im<a href="https://deno.land/manual" target="_blank">
        Deno-Manual</a> unter <a
        href="https://deno.land/manual@v1.16.4/getting_started/first_steps#making-an-http-request"
        target="_blank">Making an HTTP request</a></b></p>
  <p>Geben Sie hier Ihr Programm <code style="color:#ff0000">server.ts</code> ein:</p>
  <pre>class Corona &#123;
    constructor(public place: string, public cases: number) &#123;
    &#125;
&#125;

class Stats &#123;
    constructor(public min: number, public max: number, public average: number) &#123;
    &#125;
&#125;

const getStats = (coronaCases: Corona[]): Stats => &#123;
    let sum = 0;
    let max: number = coronaCases[0].cases;
    let min: number = coronaCases[0].cases;
    coronaCases.forEach((c) => &#123;
        sum += c.cases
        if (c.cases > max) max = c.cases;
        if (c.cases &lt; min) min = c.cases;
    &#125;)

    return new Stats(min, max, sum / coronaCases.length);
&#125;

const coronaCases: Corona[] = [
    new Corona('Baden-Württenberg', 932965),
    new Corona('Bayern', 1246136),
    new Corona('Berlin', 297446),
    new Corona('Brandeburg', 210009),
    new Corona('Bremen', 42434),
    new Corona('Hamburg', 122871)
]

// Start listening on port 8080 of localhost.
const server = Deno.listen(&#123;port: 8080&#125;);
console.log(HTTP webserver running.  Access it at:  http://localhost:8080/);

// Connections to the server will be yielded up as an async iterable.
for await (const conn of server) &#123;
    // In order to not be blocking, we need to handle each connection individually
    // without awaiting the function
    serveHttp(conn);
&#125;

async function serveHttp(conn: Deno.Conn) &#123;
    // This "upgrades" a network connection into an HTTP connection.
    const httpConn = Deno.serveHttp(conn);
    // Each request sent over the HTTP connection will be yielded as an async
    // iterator from the HTTP connection.
    for await (const requestEvent of httpConn) &#123;
        // The native HTTP server uses the web standard Request and Response
        // objects.
        const stats = getStats(coronaCases);
        const body = min: $&#123;stats.min&#125;, max: $&#123;stats.max&#125;, average: $&#123;stats.average&#125;
        // The requestEvent's .respondWith() method is how we send the response
        // back to the client.
        requestEvent.respondWith(
            new Response(body, &#123;
                status: 200,
            &#125;),
        );
    &#125;
&#125;
  
		</pre>
