.middlepane {
  width: 70%;
  height: 100%;
  position: relative;
  float: left;
  background-color: royalblue;
  border-collapse: collapse;
}

.rightpane {
  width: 30%;
  height: 100%;
  position: relative;
  float: right;
  background-color: rgb(255, 255, 255);
  border-collapse: collapse;
}
