<div class="container">
  <div class="middlepane">
    <div id="aufgabe">
      <h1>5.2. Rednerliste mit Zeitmessung </h1>
      <p><b>Implementieren Sie die interaktive Anwendung "Rednerliste mit Zeitmessung" selbstständig in JavaScript durch
          Nutzung der<a href="https://www.w3schools.com/js/js_htmldom.asp" target="_blank"> DOM API</a> und der <a
            href="https://www.w3schools.com/js/js_timing.asp" target="_blank">Timer-Funktionen</a>. Neue Redner sollen
          auf Knopfdruck hinzugefügt werden können. Deren Uhr wird dann sofort automatisch gestartet und alle anderen
          Uhren angehalten. Bei jedem Redner soll die individuelle, gemessene Redezeit sekundengenau angezeigt werden.
          Für jeden Redner soll es einen eigenen Start-/Stopp-Button geben. Es soll immer nur eine Uhr laufen. Angezeigt
          werden sollen die bisherigen Summenzeiten aller Redebeiträge der betreffenden Person. Suchen Sie eine
          möglichst kurze und elegante Lösung. Achten Sie gleichzeitig auf gute Usability: z.B. wenn die Eingabe mit
          einem Return beendet wird, soll der Button-Click nicht mehr erforderlich sein, usw.</b></p>
      <img src="https://kaul.inf.h-brs.de/we/assets/img/Rednerliste.png" style="max-width:600px;width:100%">
      <p>Geben Sie die komplette HTML-Seite exkl. JavaScript-Quelltext an. Schreiben Sie Ihren JavaScript-Quelltext in
        eine separate Datei.</p>
      <p><b>QUELLCODE:</b></p>

      <pre>&lt;!DOCTYPE html>
        &lt;html>&lt;head>
                &lt;script type="text/javascript" src="Übung5_2rednerListe.js">&lt;/script>
            &lt;/head>
            &lt;body>
                &lt;h1>Redner Liste&lt;/h1>
                &lt;table id="input">
                            &lt;tr>
                        &lt;td>NeueRedner:&lt;/td>
                        &lt;td>&lt;input type="text" id="inputValue">&lt;/td>
                        &lt;td>&lt;button id="newButtuon">add&lt;/button>&lt;/td>
                        &lt;/tr>
                &lt;/table>
        
                &lt;ul id="Rednerliste">&lt;/ul>
            
        
        &lt;/body>&lt;/html>
            </pre>

      <p>Fügen Sie Ihren JavaScript-Quelltext aus der separaten Datei in das folgende Textarea ein:</p>

      <pre>let aktuTime , aktuIntervl , aktuButton;

        window.onload = function () &#123;
                const list = document.getElementById("Rednerliste");
                const input = document.getElementById("inputValue");
                const button = document.getElementById("newButtuon");
        
            if ( input || list  ||button) &#123;
                button.addEventListener("click", (event) => &#123;const name = input.value;
                    if (name != "") &#123;
                            const table = document.createElement("table");
                            const redner = document.createElement("li");
                            const tr = document.createElement("tr");
                            const timeCreat = document.createElement("td");
                            const buttonCreat = document.createElement("td");
                            const nameCreat = document.createElement("td");
                            const newButton = document.createElement("button");
        
                            tr.appendChild(nameCreat);
                            tr.appendChild(timeCreat);
                            tr.appendChild(buttonCreat);
                            buttonCreat.appendChild(newButton);
                            redner.appendChild(table);
                            table.appendChild(tr);
                            newButton.innerText = "Stopp";
                            timeCreat.innerText = "00:00:00";
                            nameCreat.innerText = name;
                            let intervl = setInterval(Timer(timeCreat), 900);
                            newButton.onclick = stopTime(intervl ,newButton, Timer(timeCreat));
                            stopAll(Timer(timeCreat), newButton, intervl);
                            list.appendChild(redner);
                    &#123; 
                &#123;);
            &#123; 
        &#123;;
        
        function Timer(time) &#123;
            let h = 0; let m = 0; let s = 0;
            function begin() &#123;
                if (s == 59) &#123; s = 0; newMinute();&#123;
                else &#123;++s; &#123;
                
                htmlPut(); &#123;
            function newMinute() &#123;
                if (m == 59) &#123;
                    m = 0;
                    ++h;
                &#123; else &#123;
                    ++m;&#123;
                    &#123;
        
                function htmlPut() &#123;
                const timeString = numUmwandlung(h) + ":" + numUmwandlung(m) + ":" + numUmwandlung(s);
                time.innerText = timeString;&#123;
        
                function numUmwandlung(num) &#123;
                return ("0" + num).slice(-2); &#123;
        
                function getButton() &#123;
                return button;&#123;
        
            return begin;
        &#123;
        
        function stopTime(intervl, button, timer) &#123;
            return function () &#123;
                clearInterval(intervl);
                button.innerText = "Start";
                button.onclick = restartTimer(intervl, button, timer);&#123;;
        
        &#123;
        
        function restartTimer(intervl, button, timer) &#123;
            return function () &#123;
                intervl = setInterval(timer, 900);
                stopAll( timer, button,intervl);
                button.innerText = "Stopp";
                button.onclick = stopTime(intervl, button, timer);&#123;;
        &#123;
        
        function stopAll( timer, button,intervl) &#123;
            if ( aktuTime != null && aktuButton != null && aktuIntervl != null ) &#123;
                stopTime(aktuIntervl, aktuButton, aktuTime)();
            &#123; 
            aktuButton = button; aktuIntervl = intervl; aktuTime = timer;
        &#123;
        
            </pre>
    </div>
  </div>
  <div class="rightpane">
    <p id="ausfuhren"> QUELLCODE AUSFÜHREN</p>
    <a class="execute" href="assets/loesung5.2.html" target="_blank">klicken SIE HIER BITTE !</a>
  </div>
</div>
