<div id="aufgabe">
  <h1>6.4. Proxy</h1>
  <p><b>Erweitern Sie Ihre Vorrang-Klasse um Logging, indem Sie ein <a
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy"
        target="_blank">Proxy </a>einfügen. Lassen Sie sich vom Logger bei jedem Schritt ausgeben, wie viele der
      Vorrangrelationen noch übrig bleiben.
      Verwenden Sie so weit wie möglich High-Level-Methoden wie<a
        href="https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/Object/keys"
        target="_blank"> Object.keys </a>und High-Level-Datenstrukturen wie Map und Set und deren Methoden, anstatt
      mühsam von Hand zu
      iterieren und zu zählen. </b></p>
  <p>Geben Sie die HTML-Seite inkl. ES6-Code inkl. Tests hier ein. Verwenden Sie für Ihre Tests die Funktion <a
      href="https://developer.mozilla.org/de/docs/Web/API/Console/assert" target="_blank">console.assert</a>. </p>
  <p><b>QUELLCODE:</b></p>
  <pre>
	function topsort(array) &#123;


    var Knoten = [];
    var pack = [];
    var gesehen = [];

    for (var k = 0; k &lt; array.length; k++) &#123;
        if (Knoten.indexOf(array[k][0]) &lt; 0) Knoten.push(array[k][0]);
        if (Knoten.indexOf(array[k][1]) &lt; 0) Knoten.push(array[k][1]);
    &#125;

    Knoten.forEach(function (knote) &#123;
        if (gesehen.indexOf(knote) &lt; 0) &#123;
            sort(knote);
        &#125;
    &#125;);

    function sort(knote) &#123;
        gesehen.push(knote);
        array.forEach(function (Kante) &#123;
            if (gesehen.indexOf(Kante[1]) &lt; 0 && Kante[0] == knote) &#123;
                sort(Kante[1]);
            &#125;
        &#125;);
        pack.push(knote);
    &#125;
    return pack.reverse();
&#125;

class Vorrang &#123;
    [Symbol.iterator]() &#123;
        return this.array.values()
    &#125;
    constructor(array) &#123;
        this.array = topsort(array);
    &#125;


&#125;



try &#123;

    var text = "schlafen,studieren,essen,studieren,studieren,prüfen";
    console.log(text);

    var array = text.split(",").map(String);
    if ((array.length % 2) != 0) &#123;
        throw new Error(' Geben Sie bitte eine Komplette Vorrangrelationen');
    &#125;

    var gfg = new Array(array.length / 2);


    // Loop to create 2D array using 1D array
    for (var i = 0; i &lt; gfg.length; i++) &#123;
        gfg[i] = new Array(2);
    &#125;

    var h = 0;

    // Loop to initialize 2D array elements.
    for (let i = 0; i &lt; array.length / 2; i++) &#123;
        for (let j = 0; j &lt; 2; j++) &#123;
            gfg[i][j] = array[h++];
        &#125;
    &#125;

    const studentenLeben = new Vorrang(gfg);

    var final = [];
    for (const next of studentenLeben) &#123;
        final.push(next);
    &#125;

    console.log(final);

&#125; catch (err) &#123;

    console.log(err.message);
&#125;




const studentenLeben = new Vorrang([
    ["schlafen", "studieren"],
    ["essen", "studieren"],
    ["studieren", "prüfen"]
]);

//TEST
const arrayTest = new Vorrang([
    ["schlafen", "studieren"],
    ["essen", "studieren"],
    ["studieren", "prüfen"]
]);
var arrayfinal = [];
for (const next of arrayTest) &#123;
    arrayfinal.push(next);
&#125;
var ausgabe = ["schlafen", "essen", "studieren", "prüfen"];
for (let i = 0; i &lt; arrayfinal.length; i++) &#123;

    console.assert(ausgabe[i] === arrayfinal[i], `diese beide Werte $&#123;ausgabe[i]&#125; und $&#123;arrayfinal[i]&#125; sind nicht gleich`);
&#125;


//Proxy

const generator = new Proxy(studentenLeben.gen, &#123;
    apply(target, thisArg, argumentList) &#123;
        console.log(studentenLeben.getSize());
        return target(studentenLeben);
    &#125;
&#125;);

while (true) &#123;
    tab = generator().next();
    if (tab["done"] !== false) &#123;
        break;
    &#125;
    console.assert(final.includes(out["value"]));
    console.assert(ausgabe[0] === out["value"]);
    testArraySequence.splice(0, 1);
&#125; 
	</pre>
