<div id="container">
  <div id="aufgabe">
    <h1>6.2. Topologische Iterierbarkeit</h1>
    <p><b>Schreiben Sie eine ES6-Klasse<code style="color:#ff0000"> Vorrang</code> für Vorrangrelationen, z.B.<code
          style="color:#ff0000"> new Vorrang([ ["schlafen", "studieren"], ["essen", "studieren"], ["studieren",
          "prüfen"] ])</code>
        . Wählen Sie eine Implementierung, die universell gültig,
        also nicht nur für dieses Beispiel gilt. (Überlegen Sie sich, über welche Properties und Methoden eine solche
        Klasse
        verfügen sollte und wie TopSort hier hineinspielt. Topologische Iterierbarkeit und topologischer Generator sind
        jedoch
        Gegenstand der nächsten Übungen weiter unten auf diesem Übungsblatt und sollten für die folgenden Aufgaben
        aufgespart werden.)
        <br><br>
        Stellen Sie bei Ihrer Klasse die topologische Iterierbarkeit her (zunächst über das Iterationsprotokoll, ohne
        Generator, ohne yield).
        <br><br>
        Zum Beispiel soll dadurch folgende for ... of loop möglich werden, mit der die Elemente in topologischer
        Sortierung durchlaufen werden: </b></p>
    <p> Auf der Console wird dadurch ausgegeben: </p>

    <div class="box code"><span> schlafen</span><br><span> essen</span><br><span> studieren</span><br><span>
        prüfen</span><br></div>
    <p>Wählen Sie eine Implementierung, die universell gültig, also nicht nur für dieses Beispiel gilt.
      Eine topologische Sortierung im Konstruktor vorzuberechnen, wäre eine triviale Lösung. Versuchen Sie es
      stattdessen "lazy computation",
      d.h. erst beim Aufruf von <code style="color:#ff0000">next()</code> wird die erforderliche Berechnung
      durchgeführt. Nebenbedingung ist minimaler Aufwand, d.h. bei jedem <code style="color:#ff0000">next()</code>
      erneut alles zu sortieren,
      wird nicht als Lösung akzeptiert.
      Verwenden Sie so weit wie möglich High-Level-Methoden wie <a
        href="https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/Object/keys"
        target="_blank"> Object.keys</a> und High-Level-Datenstrukturen wie<a
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map" target="_blank">
        Map</a> und <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set"
        target="_blank">Set </a>und deren Methoden,
      anstatt mühsam von Hand zu iterieren und zu zählen. </p>
    <p>Geben Sie die HTML-Seite inkl. ES6-Code inkl. Tests hier ein. Verwenden Sie für Ihre Tests die Funktion <a
        href="https://developer.mozilla.org/de/docs/Web/API/Console/assert" target="_blank">console.assert</a>. </p>
    <p><b>QUELLCODE:<button class="execute">Code Ausfuehren</button></b></p>
    <pre>function topsort(array) 


      var Knoten = [];
      var pack = [];
      var gesehen = [];
  
      for (var k = 0; k &lt; array.length; k++) 
          if (Knoten.indexOf(array[k][0]) &lt; 0) Knoten.push(array[k][0]);
          if (Knoten.indexOf(array[k][1]) &lt; 0) Knoten.push(array[k][1]);
      
  
      
    </pre>

    <p>Betten Sie Ihren ECMAScript-Code in eine Webseite ein, so dass man die Vorrangrelation dort eingeben kann. Geben
      Sie hier die HTML-Seite an:</p>
    <p><b>QUELLCODE: <button class="execute">Code Ausfuehren</button></b></p>

    <pre>&lt;!DOCTYPE html>
    &lt;html>
    &lt;head>
    
    &lt;/head>
    &lt;body>
    
    
    &lt;h1>Geben Sie Bitte eine Vorrangrelationen in Dieser Schreibweise  :&lt;br>
               schlafen,studieren,essen,studieren,studieren,prüfen&lt;/h1>
    &lt;br>
    
    
    &lt;textarea id="textarea" rows="4" cols="50" placeholder="write your Text and please use some nested brackets" >
    &lt;/textarea>
    
      &lt;button class="button" onclick = check() >check Text&lt;/button>
    
    &lt;br>
    
    &lt;textarea id="textarea2" rows="4" cols="50" placeholder="your result" >
    &lt;/textarea>
     &lt;script>
  </pre>
  </div>
