<div class="container">
  <div class="middlepane">
    <div id="aufgabe">
      <h1>6.2. Topologische Iterierbarkeit</h1>
      <p><b>Schreiben Sie eine ES6-Klasse<code style="color:#ff0000"> Vorrang</code> für Vorrangrelationen, z.B.<code
            style="color:#ff0000"> new Vorrang([ ["schlafen", "studieren"], ["essen", "studieren"], ["studieren",
            "prüfen"] ])</code>
          . Wählen Sie eine Implementierung, die universell gültig,
          also nicht nur für dieses Beispiel gilt. (Überlegen Sie sich, über welche Properties und Methoden eine solche
          Klasse
          verfügen sollte und wie TopSort hier hineinspielt. Topologische Iterierbarkeit und topologischer Generator
          sind
          jedoch
          Gegenstand der nächsten Übungen weiter unten auf diesem Übungsblatt und sollten für die folgenden Aufgaben
          aufgespart werden.)
          <br><br>
          Stellen Sie bei Ihrer Klasse die topologische Iterierbarkeit her (zunächst über das Iterationsprotokoll, ohne
          Generator, ohne yield).
          <br><br>
          Zum Beispiel soll dadurch folgende for ... of loop möglich werden, mit der die Elemente in topologischer
          Sortierung durchlaufen werden: </b></p>
      <p> Auf der Console wird dadurch ausgegeben: </p>

      <div class="box code"><span> schlafen</span><br><span> essen</span><br><span> studieren</span><br><span>
          prüfen</span><br></div>
      <p>Wählen Sie eine Implementierung, die universell gültig, also nicht nur für dieses Beispiel gilt.
        Eine topologische Sortierung im Konstruktor vorzuberechnen, wäre eine triviale Lösung. Versuchen Sie es
        stattdessen "lazy computation",
        d.h. erst beim Aufruf von <code style="color:#ff0000">next()</code> wird die erforderliche Berechnung
        durchgeführt. Nebenbedingung ist minimaler Aufwand, d.h. bei jedem <code style="color:#ff0000">next()</code>
        erneut alles zu sortieren,
        wird nicht als Lösung akzeptiert.
        Verwenden Sie so weit wie möglich High-Level-Methoden wie <a
          href="https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/Object/keys"
          target="_blank"> Object.keys</a> und High-Level-Datenstrukturen wie<a
          href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map" target="_blank">
          Map</a> und <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set"
          target="_blank">Set </a>und deren Methoden,
        anstatt mühsam von Hand zu iterieren und zu zählen. </p>
      <p>Geben Sie die HTML-Seite inkl. ES6-Code inkl. Tests hier ein. Verwenden Sie für Ihre Tests die Funktion <a
          href="https://developer.mozilla.org/de/docs/Web/API/Console/assert" target="_blank">console.assert</a>. </p>
      <p><b>QUELLCODE:</b></p>
      <pre>function topsort(array) &#123;


        var Knoten = [];
        var pack = [];
        var gesehen = [];
    
        for (var k = 0; k &lt; array.length; k++) &#123;
            if (Knoten.indexOf(array[k][0]) &lt; 0) Knoten.push(array[k][0]);
            if (Knoten.indexOf(array[k][1]) &lt; 0) Knoten.push(array[k][1]);
        &#125;
    
        Knoten.forEach(function (knote) &#123;
            if (gesehen.indexOf(knote) &lt; 0) &#123;
                sort(knote);
            &#125;
        &#125;);
    
        function sort(knote) &#123;
            gesehen.push(knote);
            array.forEach(function (Kante) &#123;
                if (gesehen.indexOf(Kante[1]) &lt; 0 && Kante[0] == knote) &#123;
                    sort(Kante[1]);
                &#125;
            &#125;);
            pack.push(knote);
        &#125;
        return pack.reverse();
    &#125;
    
    class Vorrang &#123;
        [Symbol.iterator]() &#123;
            return this.array.values()
        &#125;
        constructor(array) &#123;
            this.array = topsort(array);
        &#125;
    
    
    &#125;
    
    
    function check() &#123;
        try &#123;
    
            var text = "schlafen,studieren,essen,studieren,studieren,prüfen";
            console.log(text);
    
            var array = text.split(",").map(String);
            if ((array.length % 2) != 0) &#123;
                throw new Error(' Geben Sie bitte eine Komplette Vorrangrelationen');
            &#125;
    
            var gfg = new Array(array.length / 2);
    
    
            // Loop to create 2D array using 1D array
            for (var i = 0; i &lt; gfg.length; i++) &#123;
                gfg[i] = new Array(2);
            &#125;
    
            var h = 0;
    
            // Loop to initialize 2D array elements.
            for (let i = 0; i &lt; array.length / 2; i++) &#123;
                for (let j = 0; j &lt; 2; j++) &#123;
                    gfg[i][j] = array[h++];
                &#125;
            &#125;
    
            const studentenLeben = new Vorrang(gfg);
    
            var final = [];
            for (const next of studentenLeben) &#123;
                final.push(next);
            &#125;
    
            console.log(final);
    
        &#125; catch (err) &#123;
    
            console.log(err.message);
        &#125;
    &#125;
    //RUN
    check()
    
    //TEST
    function test() &#123;
        const array = new Vorrang([
            ["schlafen", "studieren"],
            ["essen", "studieren"],
            ["studieren", "prüfen"]
        ]);
        var arrayfinal = [];
        for (const next of array) &#123;
            arrayfinal.push(next);
        &#125;
        var ausgabe= ["schlafen", "essen", "studieren", "prüfen"];
        for (let i = 0; i &lt; arrayfinal.length; i++) &#123;
    
            console.assert(ausgabe[i] === arrayfinal[i], `diese beide Werte $&#123;ausgabe[i]&#125; und $&#123;arrayfinal[i]&#125; sind nicht gleich`);
        &#125;
    &#125;
    test()
        </pre>

      <p>Betten Sie Ihren ECMAScript-Code in eine Webseite ein, so dass man die Vorrangrelation dort eingeben kann.
        Geben
        Sie hier die HTML-Seite an:</p>
      <p><b>QUELLCODE: </b></p>

      <pre>&lt;!DOCTYPE html>
        &lt;html>
        &lt;head>
        
        &lt;/head>
        &lt;body>
        
        
        &lt;h1>Geben Sie Bitte eine Vorrangrelationen in Dieser Schreibweise  :&lt;br>
                   schlafen,studieren,essen,studieren,studieren,prüfen&lt;/h1>
        &lt;br>
        
        
        &lt;textarea id="textarea" rows="4" cols="50" placeholder="write your Text and please use some nested brackets" >
        &lt;/textarea>
        
          &lt;button class="button" onclick = check() >check Text&lt;/button>
        
        &lt;br>
        
        &lt;textarea id="textarea2" rows="4" cols="50" placeholder="your result" >
        &lt;/textarea>
         &lt;script>
        
        function topsort(array) &#123;
        
        
            var Knoten = [];
            var pack = [];
            var gesehen = [];
        
            for (var k = 0; k &lt; array.length; k++) &#123;
                if (Knoten.indexOf(array[k][0]) &lt; 0) Knoten.push(array[k][0]);
                if (Knoten.indexOf(array[k][1]) &lt; 0) Knoten.push(array[k][1]);
            &#125;
        
            Knoten.forEach(function (knote) &#123;
                if (gesehen.indexOf(knote) &lt; 0) &#123;
                    sort(knote);
                &#125;
            &#125;);
        
            function sort(knote) &#123;
                gesehen.push(knote);
                array.forEach(function (Kante) &#123;
                    if (gesehen.indexOf(Kante[1]) &lt; 0 && Kante[0] == knote) &#123;
                        sort(Kante[1]);
                    &#125;
                &#125;);
                pack.push(knote);
            &#125;
            return pack.reverse();
        &#125;
        
        class Vorrang &#123;
            [Symbol.iterator]() &#123;
                return this.array.values()
            &#125;
            constructor(array) &#123;
                this.array = topsort(array);
            &#125;
        
        
        &#125;
        
        
        function check() &#123;
            try &#123;
        
                var text= document.getElementById("textarea").value;
                console.log(text);
        
                var array = text.split(",").map(String);
                if ((array.length % 2) != 0) &#123;
                    throw new Error(' Geben Sie bitte eine Komplette Vorrangrelationen');
                &#125;
        
                var gfg = new Array(array.length / 2);
        
        
                // Loop to create 2D array using 1D array
                for (var i = 0; i &lt; gfg.length; i++) &#123;
                    gfg[i] = new Array(2);
                &#125;
        
                var h = 0;
        
                // Loop to initialize 2D array elements.
                for (var i = 0; i &lt; array.length / 2; i++) &#123;
                    for (var j = 0; j &lt; 2; j++) &#123;
                        gfg[i][j] = array[h++];
                    &#125;
                &#125;
        
                const studentenLeben = new Vorrang(gfg);
        
                var final = [];
                for (const next of studentenLeben) &#123;
                    final.push(next);
                &#125;
                
                //test
                test();
        
                document.getElementById("textarea2").value=final;
        
            &#125; catch (err) &#123;
        
                document.getElementById("textarea2").value=err.message;
            &#125;
        &#125;
        
        //test
        function test() &#123;
            const array = new Vorrang([
                ["schlafen", "studieren"],
                ["essen", "studieren"],
                ["studieren", "prüfen"]
            ]);
            var arrayfinal = [];
            for (const next of array) &#123;
                arrayfinal.push(next);
            &#125;
           var ausgabe = ["schlafen", "essen", "studieren", "prüfen"];
            for (let i = 0; i &lt; arrayfinal.length; i++) &#123;
        
                console.assert(ausgabe[i] === arrayfinal[i], `diese beide Werte $&#123;ausgabe[i]&#125; und $&#123;arrayfinal[i]&#125; sind nicht gleich`);
            &#125;
        &#125;
        
        
        &lt;/script>
        
        &lt;/body>
        &lt;/html>
        </pre>
    </div>
  </div>
  <div class="rightpane">
    <p id="ausfuhren"> QUELLCODE AUSFÜHREN</p>


    <a class="execute1" href="assets/loesung 6.2.1.html" target="_blank">klicken SIE HIER BITTE !</a>

    <a class="execute2" href="assets/loesung 6.2.2.html" target="_blank">klicken SIE HIER BITTE !</a>

  </div>
</div>
