<div id="aufgabe"><h1>Aufgabe 1.2. HTTP</h1>
	<p><b>Sie bekommen im Browser den HTTP Status Code 200. Was bedeutet das?</b></p>
	<p> HTTP-Statuscode 200 OK gibt an, dass eine Anfrage erfolgreich verlaufen ist.</p>
	
	<p><b>Sie bekommen im Browser den HTTP Status Code 301. Was hat das zu bedeuten? </b></p>
	<p>HTTP Status Code 301 bedeutet, dass der URI der angeforderten Ressource geändert wurde. </p>
	
	<p><b>Sie bekommen im Browser den HTTP Status Code 400. Was hat das zu bedeuten? Was können Sie dagegen tun? </b></p>
	<p>HTTP Status Code 400 bedeutet, dass der Server die Anfrage aufgrund einer ungültigen Syntax nicht verstehen konnte. </p>	
	
	<p><b>Sie bekommen im Browser den HTTP Status Code 403. Was hat das zu bedeuten? Was können Sie dagegen tun? </b></p>
	<p>Der Client hat keine Zugriffsrechte auf den Inhalt. </p>	

	<p><b>In einer Webanwendung benötigen Sie eine OPTIONS-Anfrage, die die Optionen des Servers vor dem eigentlichen Zugriff erfragen soll. Aus Performanzgründen soll die Abfrage jedoch cacheable sein. Wie könnten Sie dafür eine Lösung angehen? </b></p>
	<p>Die Abfrage belebig oft stellen um die gleiche Ergebnisse zu bekommen oder Man kann auch die Access-Control-Max-Age benutzen,somit maximale Anzahl von Sekunden, für die die Ergebnisse zwischengespeichert werden können. </p>	

	</div>