<div class="middlepane">
  <div id="aufgabe">
    <h1>1.3. HTML-Literatur lesen und Fragen beantworten</h1>
    <p><b>Arbeiten Sie ein HTML-Tutorial durch ( <a href="https://www.w3schools.com/html/default.asp" target="_blank">W3
          Schools</a> oder <a href="https://wiki.selfhtml.org/wiki/HTML/Tutorials/HTML-Einstieg"
          target="_blank">selfhtml</a> ) und beantworten Sie dazu folgende Fragen: </b></p>
    <p><b>Was ist HTML?</b></p>
    <p>HTML ist HyperText Markup Sprache für Webseiten.</p>
    <hr>
    <p><b>Wie kann man eine geschachtelte geordnete Liste der Schachtelungstiefe 3 erzeugen? <button
          class="execute">Code Ausfuehren</button></b></p>
    <pre>
&lt;!DOCTYPE html>
&lt;html>
&lt;body>

&lt;h2>geschachtelte geordnete &lt;/h2>
&lt;p>List:&lt;/p>

&lt;ol>
 &lt;li>Erste Element&lt;/li>
 &lt;li>Zweite Element
  &lt;ol>
    &lt;li>Schachtelungstiefe 1&lt;/li>
    &lt;ol>
    &lt;li>Schachtelungstiefe 2&lt;/li>
	&lt;/ol>
   &lt;/ol>
 &lt;/li>
 &lt;li>Dritte Element&lt;/li>
&lt;/ol>

&lt;/body>
&lt;/html>
</pre>
    <hr>

    <p><b>Wie ist eine HTML-Tabelle aufgebaut? <button class="execute">Code Ausfuehren</button> </b></p>
    <pre>
&lt;table >
  &lt;tr>
    &lt;th>Titel 1&lt;/th>
    &lt;th>Titel 2&lt;/th>
  &lt;/tr>
  &lt;tr>
    &lt;td>Element des Titel 1&lt;/td>
    &lt;td>Element des Titel 2&lt;/td>
  &lt;/tr>
  &lt;tr>
     &lt;td>Element des Titel 1&lt;/td>
    &lt;td>Element des Titel 2&lt;/td>
  &lt;/tr>
&lt;/table>
</pre>
    <hr>

    <p><b>Welche Konventionen sollte man bei Pfaden und Dateinamen beachten?</b></p>
    <p>Es gibt spezielle Zeichen, die nicht verwendet werden dürfen, weil sie im Dateisystem eine Bedeutung haben. Dazu
      gehören der Doppelpunkt und die Schrägstriche / und \ als Trennzeichen für Laufwerksbuchstaben und Ordner, und die
      Zeichen * und ? als Jokerzeichen in der Dateisuche. </p>
    <hr>
    <p><b>Wie baut man in HTML ein Menü? <button class="execute">Code Ausfuehren</button> </b></p>
    <pre>
&lt;div class="menu">
  &lt;a href="#" class="active">Home&lt;/a>
  &lt;a href="#">link 1&lt;/a>
  &lt;a href="#">Link 2&lt;/a>
  &lt;a href="#">Link 3&lt;/a>
  &lt;a href="#">Link 4&lt;/a>
&lt;/div>
</pre>
    <hr>
    <p><b>Welche Attribute sollte man bei Bildern wie verwenden?</b></p>
    <p>src attribute specifies the path (URL) to the image. alt attribute should describe the image. style,width and
      height attribute to specify the width and height of an image.</p>
  </div>
</div>




<div class="rightpane">

  <!DOCTYPE html>
  <html>

  <head>
    <title>execute A1 E3 F1</title>


  </head>

  <body>

    <h2>geschachtelte geordnete </h2>
    <p>List:</p>

    <ol>
      <li>Erste Element</li>
      <li>Zweite Element
        <ol>
          <li>Schachtelungstiefe 1</li>
          <ol>
            <li>Schachtelungstiefe 2</li>
          </ol>
        </ol>
      </li>
      <li>Dritte Element</li>
    </ol>

  </body>

  </html>
</div>
