<div id="aufgabe"><h1>Aufgabe 3.3. Responsiv mit Grid</h1>
	<p><b>Implementieren Sie folgende Landing Page responsiv mit Grid Layout. Vermeiden Sie außerdem das Erscheinen von Scrollbars so weit wie möglich. </b></p>
	<p>Implementieren Sie dann das gleiche responsive Webdesign wie in Aufgabe 3.1 allerdings mit Grid und der Mobile-First-Strategie! Vermeiden Sie diesmal außerdem das Erscheinen von Scrollbars. </p>
	<img src="https://kaul.inf.h-brs.de/we/assets/img/landing.png"  style="max-width:600px;width:100%">
<p><b>QUELLCODE:</b> </p>
	<pre>&lt;!DOCTYPE html>
&lt;html lang="en">
&lt;head>
&lt;meta charset="UTF-8">
&lt;/head>





&lt;body>
	&lt;header>
		&lt;nav>
			&lt;ul>
				&lt;li>&lt;a href="#">The book series&lt;/a>&lt;/li>
				&lt;li>&lt;a href="#">Testemonials&lt;/a>&lt;/li>
				&lt;li>&lt;a href="#">The Author&lt;/a>&lt;/li>
				&lt;li>&lt;a href="#">Free resources&lt;/a>&lt;/li>
			&lt;/ul>
		&lt;/nav>
	&lt;/header>

	&lt;h1 class="title">You Dont know JavaScript&lt;/h1>

	&lt;div class="content">
		&lt;img src="https://kaul.inf.h-brs.de/we/assets/img/landing-img.png"
			alt="img" />
		&lt;div class="paragraph">
			Dont just drift through JavaScript &lt;br> &lt;br> &lt;br>
			Understand how JavaScript works &lt;br> &lt;br> &lt;br> Start
			your journey through the bumpy side of JavaScript &lt;br> &lt;br>
			&lt;br>
			&lt;button>ORDER YOUR COPY NOW&lt;/button>
		&lt;/div>
	&lt;/div>



	&lt;footer>
		&lt;p>The first ebook in the book series is absolutely free.&lt;/p>
		&lt;button>FIND OUT MORE ABOUT THIS OFFER&lt;/button>
	&lt;/footer>
&lt;/body>
&lt;/html>
	</pre>