<div id="aufgabe">
  <h1>6.5. DeepCopy</h1>
  <p><b>Schreiben Sie eine rekursive Funktion deepCopy( struct ) als ES6-Ausdruck, so dass beliebig geschachtelte Arrays
      und Objekte struct tiefenkopiert werden können
      . Verwenden Sie zu diesem Zweck den<a
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Conditional_Operator"
        target="_blank"> konditionalen ternären Operator </a> ,<a
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map"
        target="_blank"> Array.map()</a>,
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/fromEntries"
        target="_blank">Object.fromEntries() </a>und <a
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries"
        target="_blank">Object.entries()</a>. Verwenden Sie dabei nur Arrow Functions und Ausdrücke,
      keine Anweisungen, keine Blöcke. Verwenden Sie nicht die JSON-Methoden. </b></p>
  <p>Geben Sie die HTML-Seite inkl. ES6-Code inkl. Tests hier ein. Verwenden Sie für Ihre Tests die Funktion <a
      href="https://developer.mozilla.org/de/docs/Web/API/Console/assert" target="_blank">console.assert</a>. </p>
  <p>QUELLCODE:</p>
  <pre>
    const struct = &#123;
      name: "omar",
      vorname: "guella",
      objekt: &#123;
          matrikel: ["student", 123]
      &#125;
  &#125;
  const deepCopy = (struct) => &#123;
      return Object.fromEntries(Object.entries(struct));
  &#125;
  const copy = deepCopy(struct);
  
  console.assert(struct === copy, "richtig copiert");
  console.assert(struct !== copy, "ACHTUNG nicht richtig copiert");
    </pre>
