<div class="container">
  <div class="middlepane">
    <div id="aufgabe">
      <h1>9.1. SVG Grafik von Hand erstellen</h1>
      <p><b>Codieren Sie eine HTML-Datei mit Inline SVG, so dass sich folgendes Aussehen ergibt:</b></p>
      <img src="https://kaul.inf.h-brs.de/we/assets/img/use_the_platform.png" style="max-width:300px;width:100%">
      <p><b> Fügen Sie als Hover-Effekt eine CSS-Animation hinzu, die die Größe der SVG-Grafik verdoppelt, wenn man mit
          dem
          Cursor über die Grafik geht.</b></p>
      <p>Geben Sie hier den vollständigen HTML- und SVG-Code ein: </p>
      <p><b>QUELLCODE:</b> </p>
      <pre>&lt;!DOCTYPE html>
        &lt;html>
         &lt;body>
        
          &lt;h1>SVG Use The Platform&lt;/h1>
        
          &lt;svg data-v-2c77a4f5="" width="300" height="300">
              &lt;rect data-v-2c77a4f5="" width="300" height="300" style="fill: rgb(184, 101, 101);">&lt;/rect>      
        
              &lt;text data-v-2c77a4f5="" x="30" y="70" style="fill:White;font-weight:400;font-size:50px;font-family:Arial"> Use &lt;/text>      
        
              &lt;line data-v-2c77a4f5="" x1="30" y1="85" x2="275" y2="85" style="stroke:White;stroke-width:4">&lt;/line>
              &lt;text data-v-2c77a4f5="" x="30" y="165" style="fill:White;font-weight:400;font-size:50px;font-family:Arial"> The &lt;/text>
              &lt;line data-v-2c77a4f5="" x1="30" y1="180" x2="275" y2="180" style="stroke:White;stroke-width:4">&lt;/line>      
              &lt;text data-v-2c77a4f5="" x="30" y="265" style="fill:White;font-weight:400;font-size:50px;font-family:Arial"> Platform &lt;/text>      
                    
              &lt;line data-v-2c77a4f5="" x1="30" y1="280" x2="275" y2="280" style="stroke:White;stroke-width:4">&lt;/line>            
          &lt;/svg>
         
         &lt;/body>
        &lt;/html>
        
        &lt;style>
        svg:hover &#123;
          transform: scale(2);
        &#125;
        svg &#123;
          transition: all 0s;
          transform-origin: 10% 0%;
        &#125;
        &lt;/style>
        
          </pre>
    </div>
  </div>

  <div class="rightpane">
    <p id="ausfuhren"> QUELLCODE AUSFÜHREN</p>

    <body>

      <p>SVG Use The Platform<p>

          <svg data-v-2c77a4f5="" width="300" height="300">
            <rect data-v-2c77a4f5="" width="300" height="300" style="fill: rgb(184, 101, 101);"></rect>

            <text data-v-2c77a4f5="" x="30" y="70" style="fill:White;font-weight:400;font-size:50px;font-family:Arial">
              Use
            </text>

            <line data-v-2c77a4f5="" x1="30" y1="85" x2="275" y2="85" style="stroke:White;stroke-width:4"></line>
            <text data-v-2c77a4f5="" x="30" y="165" style="fill:White;font-weight:400;font-size:50px;font-family:Arial">
              The
            </text>
            <line data-v-2c77a4f5="" x1="30" y1="180" x2="275" y2="180" style="stroke:White;stroke-width:4"></line>
            <text data-v-2c77a4f5="" x="30" y="265" style="fill:White;font-weight:400;font-size:50px;font-family:Arial">
              Platform </text>

            <line data-v-2c77a4f5="" x1="30" y1="280" x2="275" y2="280" style="stroke:White;stroke-width:4"></line>
          </svg>

    </body>
  </div>
</div>
