<div class="container">
  <div class="middlepane">
    <div id="aufgabe">
      <h1>Aufgabe 3.1. Responsiv mit Flexbox Desktop-First</h1>
      <p><b>Spielen Sie zunächst das Flexbox <a href="http://flexboxfroggy.com/#de" target="_blank">"Froggy-Spiel"</a>,
          um
          Flexbox zu lernen.</b></p>
      <p> Implementieren Sie dann ausschließlich mit HTML und CSS Flexbox folgendes responsive Webdesign nach der
        Desktop-First-Strategie! </p>
      <img src="https://kaul.inf.h-brs.de/we/assets/img/holy-grail1.png" style="max-width:400px;width:100%">
      <p><b>QUELLCODE:</b> </p>
      <pre> &lt;!DOCTYPE html>
        &lt;html>
        &lt;head>
        &lt;meta charset="ISO-8859-1">
        &lt;title>Insert title here&lt;/title>
        &lt;/head>
        &lt;style>
        
        *, ::after, ::before &#123;
          box-sizing: border-box;
        &#125;
        
         
        
        .container &#123;
          
          max-width: 1400px; 
          display: flex;
          flex-wrap: wrap;
        &#125;
        
        .column &#123;
          --columns: 12; 
        
          --width: 0; 
            
          border: LavenderBlush 5px solid;
          border-radius: 20px;
          padding: 16px;
          flex-basis: calc(var(--width) / var(--columns) * 100%);
        &#125;
        
        @media screen and (max-width: 800px) &#123;
           aside.rechts &#123; --width: 12; height: 10rem; &#125;
           nav.nav &#123;  --width: 10;   &#125;
              main.links &#123;  --width: 2;   &#125;
           
           &#125;
          
        @media screen and (max-width:600px) &#123;
           nav.nav &#123; --width: 12;  &#125;
           main.links &#123; --width:6; height:20rem; &#125;
           aside.rechts &#123; --width:6; height:20rem; &#125;
           nav.nav &#123; order: 1; &#125;
           main.links &#123; order: 2; &#125;
           aside.rechts &#123; order: 3; &#125;
           
        &#125;
        
        
        .header &#123;
          --width: 12;
            height: 8rem;
            background-color: red;
          
        &#125;
        
        .links &#123;
          --width: 2.5;
          height: 64rem;
            background-color: pink;
          
        &#125;
        
        .nav &#123;
          --width: 7;
              background-color: blue;
            height: 64rem;
          
        &#125;
        
        .rechts &#123;
          --width: 2.5;
             background-color: lightgreen ;
            height: 64rem;
          
        &#125;
        
        
        
        &lt;/style>
        
        &lt;body>
        
        
          &lt;div class="container">
            &lt;header class="header column">  &lt;/header>
            &lt;main class="links column">  &lt;/main>
                &lt;nav class="nav column">  &lt;/nav>
            
            &lt;aside class="rechts column">&lt;/aside>
          &lt;/div>
        
        
        &lt;/body>
        &lt;/html>
          </pre>
    </div>
  </div>
  <div class="rightpane">
    <p id="ausfuhren"> QUELLCODE AUSFÜHRUNG</p>
    <div class="Seite_html">

      <body class="body">
        <header></header>
        <main></main>
        <aside class="left"></aside>
        <aside class="right"></aside>
      </body>
    </div>
  </div>
</div>
