<div class="container">
  <div class="middlepane">
    <div id="aufgabe">
      <h1>Aufgabe 3.1. Responsiv mit Flexbox Desktop-First</h1>
      <p><b>Spielen Sie zunächst das Flexbox <a href="http://flexboxfroggy.com/#de" target="_blank">"Froggy-Spiel"</a>,
          um
          Flexbox zu lernen.</b></p>
      <p> Implementieren Sie dann ausschließlich mit HTML und CSS Flexbox folgendes responsive Webdesign nach der
        Desktop-First-Strategie! </p>
      <img src="https://kaul.inf.h-brs.de/we/assets/img/holy-grail1.png" style="max-width:400px;width:100%">
      <p><b>QUELLCODE:</b> </p>
      <pre> &lt;!DOCTYPE html>
        &lt;html lang="en">
        &lt;head>
        &lt;meta charset="UTF-8">
        &lt;/head>
        
            
            &lt;style>
               header &#123; 
                   grid-area: header;
                   background-color: red;
                &#123;
        
               main &#123; 
                   grid-area: main;
                   background-color: blue;
                &#123;
        
               aside.left &#123; 
                   grid-area: left;
                   background-color: lightgreen; 
                &#123;
        
               aside.right &#123; 
                   grid-area: right; 
                   background-color: pink; 
                &#123;
        
                .body &#123;
                        display: grid;
                        min-height: 100vh;
                        height: 100vh;
                        grid-template-areas:
                                      "header"
                                      "left"
                                      "main"
                                      "main"
                                      "right";
                &#123;
        
               
        
                @media screen and (min-width: 500px) &#123;
                  .body &#123;
                  display: grid;
                  grid-template-areas: "header header"
                                       "left main "
                                         "right right"
                                         ;
                  grid-template-columns: 1fr 2fr;
                  grid-template-rows: 150px 1fr 100px 30px;
                &#123;
                
            &#123; 
        
                @media screen and (min-width: 800px) &#123;
                  .body &#123;
                  display: grid;
                  grid-template-areas: "header header header"
                                       "left main right";
                  grid-template-columns: 150px 1fr 150px;
                  grid-template-rows: 100px 1fr 30px;
                &#123;
            &#123;
        
                
            &lt;/style>
            
                &lt;body class="body">
                &lt;header >&lt;/header>
                &lt;main >&lt;/main>
                &lt;aside class="left">&lt;/aside>
                &lt;aside class="right">&lt;/aside>
            &lt;/body>
        &lt;/html>
	</pre>
    </div>
  </div>
  <div class="rightpane">
    <p id="ausfuhren"> QUELLCODE AUSFÜHRUNG</p>
    <div class="Seite_html">

      <body class="body">
        <header></header>
        <main></main>
        <aside class="left"></aside>
        <aside class="right"></aside>
      </body>
    </div>
  </div>
</div>
