<div class="container">
  <div class="middlepane">
    <div id="aufgabe">
      <h1>Aufgabe 3.1. Responsiv mit Flexbox Desktop-First</h1>
      <p><b>Spielen Sie zunächst das Flexbox <a href="http://flexboxfroggy.com/#de" target="_blank">"Froggy-Spiel"</a>,
          um
          Flexbox zu lernen.</b></p>
      <p> Implementieren Sie dann ausschließlich mit HTML und CSS Flexbox folgendes responsive Webdesign nach der
        Desktop-First-Strategie! </p>
      <img src="https://kaul.inf.h-brs.de/we/assets/img/holy-grail1.png" style="max-width:400px;width:100%">
      <p><b>QUELLCODE:</b> </p>
      <pre> &lt;!DOCTYPE html>
&lt;html>
&lt;head>
&lt;meta charset="ISO-8859-1">
&lt;title>Insert title here&lt;/title>
&lt;/head>
&lt;style>

 


&lt;/style>

&lt;body>


	&lt;div class="container">
		&lt;header class="header column">  &lt;/header>
		&lt;main class="links column">  &lt;/main>
				&lt;nav class="nav column">  &lt;/nav>
		
		&lt;aside class="rechts column">&lt;/aside>
	&lt;/div>


&lt;/body>
&lt;/html>
	</pre>
    </div>
  </div>
  <div class="rightpane">
    <p id="ausfuhren"> QUELLCODE AUSFÜHRUNG</p>
    <div class="Seite_html">

      <body class="body">
        <header></header>
        <main></main>
        <aside class="left"></aside>
        <aside class="right"></aside>
      </body>
    </div>
  </div>
</div>
