.container {
  width: 100%;
  height: 100%;
}

.middlepane {
  width: 64%;
  height: 100%;
  position: relative;
  float: left;
  background-color: #dafdff;
  border-collapse: collapse;
}

.rightpane {
  width: 35%;
  height: 100%;
  position: relative;
  float: right;


}

#ausfuhren {
  color: rgb(105, 35, 56);
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.Seite_html {
  border-style: solid;
  border-width: 5px;
  background-color: rgb(255, 255, 255);

}

#aufgabe {
  background: #dafdff;
  border: 1px solid black;
}



pre {
  overflow: auto;
  background: #e3fcde;
  border: 2px solid gray;
  border-style: dotted;
}



.execute {
  padding: 5px 11px;
  cursor: pointer;
  font-size: 29px;
  font-family: Verdana, sans-serif;
  text-shadow: 3px 3px 3px #ababab;
  color: white;
  background-color: #689ef7;
  border: none;
  border-radius: 9px;
  margin-left: 18%;
}

/*W3school*/
.execute:active {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(8px);
}

h1 {
  grid-area: b;
  text-align: center;
  background-color: #d9cccc;
  padding: 10px;
  margin-top: 0px;
}
