@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Angkor');

.container {
  width: 100%;
  height: 100%;
}

.middlepane {
  width: 85%;
  height: 100%;
  position: relative;
  float: left;
  background-color: #dafdff;
  border-collapse: collapse;
}

.rightpane {
  width: 15%;
  height: 100%;
  position: relative;
  float: right;


}

.Seite_html {
  border-style: solid;
  border-width: 5px;
  background-color: rgb(255, 255, 255);

}

#ausfuhren {
  color: rgb(105, 35, 56);
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

/* CSS by GenerateCSS.com */
ul {
  list-style-type: none;
  text-align: center;

}

li {
  padding: 11px;
  margin: 8px;
  font-size: 20px;
  font-weight: bold;
}

img {
  text-align: center;
  margin-top: -20px;
}

#pro {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 25px;
  color: rgb(0, 0, 0);
}


#name {
  font-family: "Angkor", cursive;
  text-align: center;
  font-size: 35px;
  color: rgb(22, 190, 190);
  text-shadow: rgb(3, 3, 32) 2px 2px 2px;

}

#aufgabe {
  background: #dafdff;
  border: 1px solid black;
}

h1 {
  grid-area: b;
  text-align: center;
  background-color: #d9cccc;
  padding: 10px;
  margin-top: 0px;
}


.execute {
  padding: 5px 11px;
  cursor: pointer;
  font-size: 17px;
  font-family: Verdana, sans-serif;
  text-shadow: 3px 3px 3px #ababab;

  color: white;
  background-color: #689ef7;
  border: none;
  border-radius: 9px;
}

/*W3school*/
.execute:active {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(8px);
}

pre {
  overflow: auto;
  background: #e3fcde;
  border: 2px solid gray;
  border-style: dotted;
}


@media screen and (max-width: 500px) {
  li {
    padding: 11px;
    margin-left: -27px;
    font-size: 16px;
  }
}
