<div class="container">
  <div class="middlepane">
    <div id="aufgabe">
      <h1>Introduction of myself</h1>

      <p id="name"> OMAR GUELLA<br> <code>(oguell2s)</code> </p>
      <ul>
        <li id="st"> Hochschule Bonn-Rhein-Sieg</li>
        <li id="pr"> Hausarbeit Einführung in Web Engineering </li>
        <li id="jahr"> WS 21</li>
        <li id="git"> Link Github:</li>
        <li> <a id="git" href="https://github.com/omarguella/-Web-Engineering" target="_blank"> Github AUFGABEN im
            Lauf des Semesters </a> </li>
        <li><a id="git" href="https://github.com/omarguella/Web_Einf_Projekt" target="_blank"> Github for the PROJECT
          </a></li>
        <li id="angular"> used Technology ANGULAR </li>
        <li> <img src="assets/angular.png" id="logo" style="max-width:260px;width:100%" /> </li>

      </ul>

      <h1>Introduction of the Project</h1>
      <p id="pro"> Die Aufgabe im Semesterprojekt ist die Erstellung und Pflege einer eigenen Homepage im Rahmen der
        wöchentlichen Praktikumsaufgaben. <br>In meiner Webseite sind Sie sowohl die Aufgabenstellungen als auch die
        Lösungen präsentiert.<br>In jedem Vorlesungsthema finden Sie LINKS die Aufgaben,die ich im Laufe des Semesters
        abgegeben habe. </p>

    </div>
  </div>
  <div class="rightpane">

  </div>
</div>
