<div class="middlepane">
  <div>
    <h1>1.4. HTML Wireframe</h1>
    <p><b>Gegeben ist folgendes HTML-Wireframe:</b></p>
    <img src="https://kaul.inf.h-brs.de/we/assets/img/wireframe01.jpg" style="max-width:400px;width:100%">
    <p> Mit welchem HTML-Code (ohne CSS, nur mit HTML-Tags) kann man diesen Wireframe exakt nachbilden?
      <p>Die beiden Bilder finden Sie z.B. unter<a href="https://kaul.inf.h-brs.de/we/assets/img/tbl.jpg"
          target="_blank"> TBL </a>und <a href="https://kaul.inf.h-brs.de/we/assets/img/eich.jpg" target="_blank">
          Eich.</a> </p>
      <p><b>QUELLCODE:</b> </p>
      <pre>

&lt;!DOCTYPE html>
&lt;html>
&lt;body>
 
&lt;h1 >Übung1.2: Inventors of the Web&lt;/h1>
&lt;ul  >
  &lt;li> &lt;b>&lt;u>&lt;mark> Tim Berners-Lee:&lt;/mark>&lt;/u>&lt;/b> WWW,HTTP,HTML,URI &lt;/li>
  &lt;li>&lt;b>Hakom lie and Bert Bos:&lt;/b>CSS&lt;/li>
  &lt;li>&lt;b>Brendan Eich:&lt;/b>JavaScript&lt;/li>
&lt;/ul>  
&lt;hr>
&lt;h2>Inventors of the WWW&lt;/h2>

&lt;table  border="10"  cellpadding="3" align="center" >
   &lt;thead>
    &lt;th  colspan="4"> Inventors of the Web  &lt;/th>
  &lt;/thead>
  &lt;tr>
    &lt;th>WWW&lt;/th>
    &lt;th>HTML&lt;/th>
    &lt;th>CSS&lt;/th>
    &lt;th>JavaScript&lt;/th>

  &lt;/tr>
  &lt;tr>
    &lt;td bgcolor="yellow">&lt;b>Tim Berners-Lee&lt;/b>&lt;/td>
    &lt;td bgcolor="yellow">&lt;b>Tim Berners-Lee&lt;/b>&lt;/td>
    &lt;td>Hakom lie and Bert Bos&lt;/td>
    &lt;td>Brendan Eich &lt;/td>

  &lt;/tr>
&lt;/table>
&lt;hr>



&lt;table  >
  &lt;tr>
    &lt;th colspan="2" >&lt;font size="5pt">&lt;u>Inventors of the WWW&lt;/u> &lt;/th> 
  &lt;/tr>

  &lt;tr>  
    &lt;th>HTML&lt;/th>
    &lt;th>JavaScript  &lt;/th>
  &lt;/tr>
  &lt;tr>
    &lt;td >&lt;img src="https://kaul.inf.h-brs.de/we/assets/img/tbl.jpg">&lt;/td>
    &lt;td>&lt;img src="https://kaul.inf.h-brs.de/we/assets/img/eich.jpg">&lt;/td>
  &lt;/tr>
  &lt;tr>
    &lt;td>Tim Berners-Lee&lt;/td>
    &lt;td>Brendan Eich &lt;/td>
  &lt;/tr>
&lt;/table>

&lt;/body>
&lt;/html>


	</pre>

  </div>

  <div class="rightpane">
    <h1>Übung1.2: Inventors of the Web</h1>
    <ul>
      <li> <b><u><mark> Tim Berners-Lee:</mark></u></b> WWW,HTTP,HTML,URI </li>
      <li><b>Hakom lie and Bert Bos:</b>CSS</li>
      <li><b>Brendan Eich:</b>JavaScript</li>
    </ul>
    <hr>
    <h2>Inventors of the WWW</h2>

    <table cellpadding="3">
      <thead>
        <th colspan="4"> Inventors of the Web </th>
      </thead>
      <tr>
        <th>WWW</th>
        <th>HTML</th>
        <th>CSS</th>
        <th>JavaScript</th>

      </tr>
      <tr>
        <td><b>Tim Berners-Lee</b></td>
        <td><b>Tim Berners-Lee</b></td>
        <td>Hakom lie and Bert Bos</td>
        <td>Brendan Eich </td>

      </tr>
    </table>
    <hr>
    <table>
      <tr>
        <th colspan="2"><u>Inventors of the WWW</u> </th>
      </tr>

      <tr>
        <th>HTML</th>
        <th>JavaScript </th>
      </tr>
      <tr>
        <td><img src="https://kaul.inf.h-brs.de/we/assets/img/tbl.jpg"></td>
        <td><img src="https://kaul.inf.h-brs.de/we/assets/img/eich.jpg"></td>
      </tr>
      <tr>
        <td>Tim Berners-Lee</td>
        <td>Brendan Eich </td>
      </tr>
    </table>
  </div>
