<div id="aufgabe">
  <h1>Aufgabe 1.1 Fachliche Argumentation über Erfolgsprinzipien des WWW</h1>
	<p><b>Mit welchen fachlichen Argumenten wurde das WWW-Proposal von TBL abgelehnt?</b></p>
	<p>Das WWW-Proposal war nur eine Idee (Konzept-Papier) und kein offizielles Projekt.Fehlende Integration sogar innerhalb eines Betriebs.</p>
	
	<p><b>Was sind die fachlichen Argumente, warum das WWW dennoch ein Erfolg wurde?</b></p>
	<p>das Konzept ist mit Evolvierbarkeit verwechselt . dann ist es Implementiert als U-Boot-Projekt den ersten WWW-Server, den ersten WWW-Browser für HTML-Dokumente auf NeXT. Neben dem Browser war es das Hypertext Transfer Protocol (HTTP), das Protokoll zur Übertragung von Daten, sowie der Uniform Resource Identifier (URI), der der eindeutigen Identifizierung eines Dokuments im Netz dient. </p>
	
	<p><b>Was wäre der Preis für die garantierte Verhinderung von “broken links”?</b></p>
	<p>um die Verhinderung von “broken links” ist die referentielle integrität benutzt. Bei der referentiellen Integrität können Datensätze die einen Fremdschlüssel aufweisen nur dann gespeichert werden, wenn der Wert des Fremdschlüssels einmalig in der referenzierten Tabelle existiert. dann alle Änderungen müssen nachvollziehbar sein.</p>
	
</div>