Aufgaben :

<div *ngIf="sheet1">
  <button routerLink="/exercice/sheet1Ex1">ex1 from sheet 1</button>
  <button>ex1 from sheet 1</button>
  <button>ex1 from sheet 1</button>
</div>

<div *ngIf="sheet2">
  <button>ex1 from sheet 2</button>
  <button>ex1 from sheet 2</button>
  <button>ex1 from sheet 2</button>
</div>

<div *ngIf="sheet3">
  <button>ex1 from sheet 3</button>
  <button>ex1 from sheet 3</button>
  <button>ex1 from sheet 3</button>
</div>

<div *ngIf="sheet4">
  <button>ex1 from sheet 4</button>
  <button>ex1 from sheet 4</button>
  <button>ex1 from sheet 4</button>
</div>

<div *ngIf="sheet5">
  <button>ex1 from sheet 5</button>
  <button>ex1 from sheet 5</button>
  <button>ex1 from sheet 5</button>
</div>
