ul {
  line-height: 0.9;
  letter-spacing: -0.14em;
  font-weight: 500;
  padding-left: 24px;
  margin-left: -16px;
  position: absolute;
  top: 100px;
  list-style-type: none;
}

li {
  padding: 20px;
}

.buttons {
  display: flex;
  /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;
  height: 900px;
}


.aufgabe {
  letter-spacing: 0.011em;
  font-style: normal;
  min-width: auto;
  padding-left: 12%;
  color: #d3e3f0;
  font-family: 'Rouge Script', cursive;
  font-size: 40px;
  line-height: 90px;
  text-shadow: 1px 1px 2px #082b34;
  position: absolute;
}

button {
  width: 250px;
  right: 25px;
  box-shadow: inset 0px -21px 48px -13px #23395e;
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  border: 1px solid #1f2f47;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
  padding: 14px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
  position: relative;
}



button:hover {
  background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color: #415989;
}

button:active {
  position: relative;
  top: 1px;
}


@media screen and (max-width: 1900px) {
  .aufgabe {
    top: -11px;
    font-size: 30px;
    padding-left: 12%;
  }

  button {
    width: 192px;
    font-size: 14px;
  }

  li {
    padding: 9px;
  }

  ul {
    padding-left: 20px;
    top: 55px;
  }
}
