<span class="aufgabe">AUFGABEN </span>
<div *ngIf="sheet1" class="buttons">
  <ul>
    <li><button routerLink="/exercice/sheet1Ex1">1.1 WWW</button></li>
    <li><button routerLink="/exercice/Ex12">1.2 HTTP</button></li>
    <li><button routerLink="/exercice/Ex13">1.3 HTML-Literaturon</button></li>
    <li><button routerLink="/exercice/Ex14">1.4 HTML Wireframe</button></li>
  </ul>
</div>

<div *ngIf="sheet2" class="buttons">
  <ul>

    <li> <button routerLink="/exercice/Ex21">2.1 CSS Selektoren und CSS Farben</button></li>
    <li> <button routerLink="/exercice/Ex22">2.2 CSS Positionierung</button></li>
    <li> <button routerLink="/exercice/Ex23">2.3 Wireframe with HTML and CSS</button></li>
  </ul>

</div>

<div *ngIf="sheet3" class="buttons">
  <ul>
    <li> <button routerLink="/exercice/Ex31"> 3.1 Responsiv mit Flexbox Desktop-First</button></li>
    <li> <button routerLink="/exercice/Ex32"> 3.2 Responsiv mit Grid Mobile-First</button></li>
    <li> <button routerLink="/exercice/Ex33">3.3 Responsiv mit Grid</button></li>
  </ul>
</div>

<div *ngIf="sheet4" class="buttons">
  <ul>
    <li> <button routerLink="/exercice/Ex41">4.1 Funktionen</button></li>
    <li> <button routerLink="/exercice/Ex42">4.2 Objekte</button></li>
    <li> <button routerLink="/exercice/Ex43">4.3 Fibonacci</button></li>
    <li> <button routerLink="/exercice/Ex44">4.4 Topsort</button></li>
  </ul>
</div>

<div *ngIf="sheet5" class="buttons">
  <ul>
    <li> <button routerLink="/exercice/Ex51"> 5.1 Performanzmessungen von DOM-Operationen</button></li>
    <li> <button routerLink="/exercice/Ex52">5.2 Rednerliste mit Zeitmessung</button></li>
    <li> <button routerLink="/exercice/Ex53">5.3 topSort</button></li>
  </ul>
</div>

<div *ngIf="sheet6" class="buttons">
  <ul>
    <li> <button routerLink="/exercice/Ex61">6.1 KlammerPaar</button></li>
    <li> <button routerLink="/exercice/Ex62">6.2 Topologische Iterierbarkeit</button></li>
    <li> <button routerLink="/exercice/Ex63">6.3. Topologischer Generator</button></li>
    <li> <button routerLink="/exercice/Ex64">6.4. Proxy</button></li>
    <li> <button routerLink="/exercice/Ex65">6.5. DeepCopy</button></li>
  </ul>
</div>

<div *ngIf="sheet7" class="buttons">
  <ul>
    <li> <button routerLink="/exercice/Ex71">7.1 Funktionen in JavaScript</button></li>
    <li> <button routerLink="/exercice/Ex72">7.2 Textanalyse mit filter-map-reduce</button></li>
  </ul>
</div>

<div *ngIf="sheet8" class="buttons">
  <ul>
    <li> <button routerLink="/exercice/Ex81">8.1 Promises</button></li>
    <li><button routerLink="/exercice/Ex82">8.2 Fetch mit async / await</button></li>
  </ul>
</div>

<div *ngIf="sheet9" class="buttons">
  <ul>
    <li> <button routerLink="/exercice/Ex91">9.1 SVG Grafik von Hand erstellen</button></li>
    <li> <button routerLink="/exercice/Ex92">
        9.2 Statistik-Balkendiagramm in SVG
      </button></li>
  </ul>
</div>

<div *ngIf="sheet10" class="buttons">
  <ul>
    <li> <button routerLink="/exercice/Ex101">
        10.1 Static classes in TypeScript
      </button></li>
    <li> <button routerLink="/exercice/Ex102">
        10.2 Fehler finden mit TypeScript
      </button></li>
    <li> <button routerLink="/exercice/Ex103">10.3 TypeScript auf Deno</button></li>
  </ul>
</div>

<div *ngIf="sheet11" class="buttons">
  <ul>
    <li><button routerLink="/exercice/Ex111">11.1 Registrierung mit PHP</button></li>
    <li> <button routerLink="/exercice/Ex112">11.2 Login mit PHP</button></li>
  </ul>
</div>
