<div class="container">
  <div class="middlepane">
    <div id="aufgabe">
      <h1>Aufgabe 3.2. Responsiv mit Grid Mobile-First</h1>
      <p><b>Spielen Sie zunächst das <a href="https://cssgridgarden.com/#de" target="_blank">Grid Garden </a>-Spiel, um
          Grid Layout zu lernen. </b></p>
      <p>Implementieren Sie dann das gleiche responsive Webdesign wie in Aufgabe 3.1 allerdings mit Grid und der
        Mobile-First-Strategie! Vermeiden Sie diesmal außerdem das Erscheinen von Scrollbars. </p>

      <p><b>QUELLCODE:</b> </p>
      <pre> &lt;!DOCTYPE html>
&lt;html lang="en">
&lt;head>
&lt;meta charset="UTF-8">
&lt;/head>

    &lt;/style>
    
        &lt;body class="body">
        &lt;header >&lt;/header>
        &lt;main >&lt;/main>
        &lt;aside class="left">&lt;/aside>
        &lt;aside class="right">&lt;/aside>
    &lt;/body>
&lt;/html>
	</pre>
    </div>
  </div>

  <div class="rightpane">
    <p id="ausfuhren"> QUELLCODE AUSFÜHRUNG</p>
    <div class="Seite_html">

      <body class="body">
        <header></header>
        <main></main>
        <aside class="left"></aside>
        <aside class="right"></aside>
      </body>
    </div>
  </div>
</div>
