.container {
  width: 100%;
  height: 100%;
}

.middlepane {
  width: 64%;
  height: 100%;
  position: relative;
  float: left;
  background-color: #dafdff;
  border-collapse: collapse;
}

.rightpane {
  width: 35%;
  height: 100%;
  position: relative;
  float: right;


}

#ausfuhren {
  color: rgb(105, 35, 56);
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.Seite_html {
  border-style: solid;
  border-width: 5px;
  background-color: rgb(255, 255, 255);

}

#aufgabe {
  background: #dafdff;
  border: 1px solid black;
}



pre {
  overflow: auto;
  background: #e3fcde;
  border: 2px solid gray;
  border-style: dotted;
}




header {
  grid-area: header;
  background-color: red;
}

main {
  grid-area: main;
  background-color: blue;
}

aside.left {
  grid-area: left;
  background-color: lightgreen;
}

aside.right {
  grid-area: right;
  background-color: pink;
}

.body {
  display: grid;
  min-height: 100vh;
  height: 100vh;
  grid-template-areas:
    "header"
    "left"
    "main"
    "main"
    "right";
}



@media screen and (min-width: 500px) {
  .body {
    display: grid;
    grid-template-areas: "header header"
      "left main "
      "right right"
    ;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 150px 1fr 100px 30px;
  }

}

@media screen and (min-width: 800px) {
  .body {
    display: grid;
    grid-template-areas: "header header header"
      "left main right";
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 100px 1fr 30px;
  }
}
