<div id="aufgabe"><h1>Aufgabe 4.2. Objekte</h1>
	<p><b>Schreiben Sie die Prototypen Person und Auto in JavaScript, so dass jede Person weiß, welche Autos sie besitzt. Schreiben Sie eine Funktion<code> conflict()</code>, die feststellt, ob ein Auto von mehr als einer Person besessen wird.</b></p>

<p>QUELLCODE:</p>
	<pre>
function Person(name, autos) 
    this.name = name;
    this.autos = autos;


function Auto(matrikel) 
    this.matrikel = matrikel;


function conflict(listPersons, auto) 
    var besitzer = 0;
    listPersons.forEach((per)=>
       if (per.autos.includes(auto.matrikel)) 
           besitzer++;
       
    )  

    if(besitzer > 1) 
    console.log("Das Auto mit der kennzeichen "+ auto.matrikel + " hat Mehrere besitzer");
    else
     console.log("Das Auto mit der kennzeichen "+ auto.matrikel + "  hat ein oder kein besitzer");


var persons = [new Person("omar", ["11", "10", "12"]), new Person("guella", ["11", "2", "3"])]
var auto = new Auto("11");

conflict(persons, auto);



	</pre>