<div class="container">
  <div class="toppane">
    <button routerLink="/exercice/aboutMe" class="aboutme">➥About Me !</button>
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/83/HochschuleB-R-S.svg" id="logo" />
    <h1 id="title1">Einführung in
      Web Engineering </h1>
  </div>

  <div class="toppanedown">
    <div class="containerbuttons">
      <button (click)="sheet1clicked()" class="navbt">1.Einführung</button>
      <button (click)="sheet2clicked()" class="navbt">2.CSS Teil I</button>
      <button (click)="sheet3clicked()" class="navbt">3.CSS Teil II</button>
      <button (click)="sheet4clicked()" class="navbt">4.JavaScript</button>
      <button (click)="sheet5clicked()" class="navbt">5.DOM</button>
      <button (click)="sheet6clicked()" class="navbt">6.ECMAScript</button>
      <button (click)="sheet7clicked()" class="navbt">7.Functional</button>
      <button (click)="sheet8clicked()" class="navbt">8.Async</button>
      <button (click)="sheet9clicked()" class="navbt">9.SVG</button>
      <button (click)="sheet10clicked()" class="navbt">10.TypeScript</button>
      <button (click)="sheet11clicked()" class="navbt">11.1 PHP</button>
    </div>
  </div>
  <div class="leftpane">
    <app-nav-bar [sheet1]="sheet1" [sheet2]="sheet2" [sheet3]="sheet3" [sheet4]="sheet4" [sheet5]="sheet5"
      [sheet6]="sheet6" [sheet7]="sheet7" [sheet8]="sheet8" [sheet9]="sheet9" [sheet10]="sheet10" [sheet11]="sheet11">
    </app-nav-bar>
  </div>
  <div class="rightpane">
    <router-outlet></router-outlet>
  </div>
</div>
