<div class="container">
  <div class="toppane">
    <h1> Exercice sheets</h1>
  </div>    
  
    <div class="toppanedown">
      <div class="containerbuttons">
        <button (click)="sheet1clicked()">Sheet1</button>
        <button (click)="sheet2clicked()">Sheet2</button>
        <button (click)="sheet3clicked()">Sheet3</button>
        <button (click)="sheet4clicked()">Sheet4</button>
        <button (click)="sheet5clicked()">Sheet5</button>
        <button>Sheet6</button>
      </div>
    </div>
  <div class="leftpane">
    <app-nav-bar [sheet1]="sheet1" [sheet2]="sheet2" [sheet3]="sheet3" [sheet4]="sheet4" [sheet5]="sheet5"></app-nav-bar>
  </div>
  <div class="rightpane">
    <router-outlet></router-outlet>
  </div>
</div>