body,
html {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;

}

.leftpane {
  width: 15%;
  height: 2000px;
  float: left;
  background-color: #13dceb;
  background-image: linear-gradient(rgb(96, 123, 245), #FFFFFF);
  margin-left: -7px;
  margin-top: -5px;
  padding-left: 0.02%;
}


.toppane {
  height: 100%;
  border-collapse: collapse;
  background-image: linear-gradient(#FFFFFF, rgb(96, 123, 245));
  margin-left: -7px;
  margin-right: -7px;
}

#logo {
  max-width: 20%;
  height: 100%;
  opacity: 80%;
}

.aboutme {
  left: 90%;
  box-shadow: 0px 12px 12px -7px #3e7327;
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  border-radius: 4px;
  border: 1px solid #4b8f29;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 37px;
  text-decoration: none;
  text-shadow: -1px -1px 50px #5b8a3c;
  position: absolute;

}

.aboutme:hover {
  background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  background-color: #72b352;
}

.aboutme:active {
  transform: translateY(8px);
}

#aboutme:active {
  background-color: rgb(144, 130, 219);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(37, 50, 231, 0.24), 0 17px 50px 0 rgba(108, 120, 228, 0.19);
  transform: translateY(8px);
}

#title1 {
  width: auto;
  padding-left: 30%;
  color: #CEF0D4;
  font-family: 'Rouge Script', cursive;
  font-size: 50px;
  line-height: 108px;
  margin: 0 0 -50px;
  text-shadow: 1px 1px 2px #082b34;
}

.toppanedown {
  width: 100.7%;
  height: 100%;
  background-color: rgb(96, 123, 245);
  margin-left: -7px;
  margin-right: -68px;
}

.containerbuttons {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  flex-direction: row;
  margin-bottom: 0.5vh;
  width: 70%;
  height: 100%;
  margin-left: 14%;
}

.navbt {
  background-color: rgb(96, 123, 245);
  color: white;
  padding: 25px;
  font-size: 17px;
  font-weight: absolute;
  border: none;
  font-family: "Trebuchet MS";
  font-size: 18px;

}

.navbt:hover {
  background-color: rgb(228, 206, 167);
  color: rgb(0, 26, 255)
}

.navbt:active {
  transform: translateY(-8px);

}



.rightpane {

  width: 85.59%;
  height: 100%;
  position: relative;
  float: right;
  background-color: #4ee6ee;
  margin-top: -0.29%;
  border-style: solid;
  border-width: 1px;
  margin-right: -7px;
}

@media screen and (max-width: 1900px) {
  .aboutme {
    left: 86%;
  }

  .title {
    padding-left: 26%;
  }

  .toppanedown {
    margin-top: 50px;
    width: 1347px;
    margin-left: -7px;
  }

  .navbt {
    padding: 21px;
  }

  .containerbuttons {
    margin-left: 196px;
  }

  .leftpane {
    width: 17%;
  }

  .rightpane {
    width: 1118px;
  }
}
