<div class="container">
  <div class="toppane">
    <h1> Exercice sheets</h1>
  </div>    
  
    <div class="toppanedown">
      <div class="containerbuttons">
        <button>aaaaa</button>
        <button>aaaaa</button>
        <button>aaaaa</button>
        <button>aaaaa</button>
        <button>aaaaa</button>
        <button>aaaaa</button>
      </div>
    </div>
  <div class="leftpane">
    <h1>sheet 1</h1>
  </div>
  <div class="middlepane">
    to dooooooooo
    to dooooooooo
    to dooooooooo

    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo

    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo


  </div>
  <div class="rightpane">
    to dooooooooo
    to dooooooooo
    to dooooooooo

    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo

    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo

    to dooooooooo
    to dooooooooo
    to dooooooooo
    to dooooooooo
  </div>
</div>