<div class="container">
  <div class="middlepane">
    <div id="aufgabe">
      <h1>5.3. TopSort als WebApp</h1>
      <p><b>Schreiben Sie eine Web-Oberfläche, in der man beliebige Beziehungen (Vorrang-Relationen) eingeben kann, für
          die
          dann die topologische Sortierung per Knopfdruck auf der Webseite ausgegeben wird. Für die Eingabe können Sie<a
            href="https://www.w3schools.com/html/html_forms.asp" target="_blank"> HTML5-Eingabefelder </a>oder <a
            href="https://www.w3schools.com/tags/att_global_contenteditable.asp" target="_blank">contentEditable</a>
          verwenden.
        </b></p>
      <p>Geben Sie die komplette HTML-Seite exkl. JavaScript-Quelltext an. Schreiben Sie Ihren JavaScript-Quelltext
        in eine separate Datei. </p>
      <p><b>QUELLCODE:</b></p>
      <pre> &lt;!DOCTYPE html>
        &lt;html lang="de">
        &lt;head>
          &lt;meta charset="UTF-8">
          &lt;meta name="viewport" content="width=device-width, initial-scale=1.0">
          &lt;title>TopSort&lt;/title>
            &lt;title>Aufgabe 5.3 TopSort&lt;/title>
           
        &lt;/head>
        
        &lt;body>
            &lt;header>
                &lt;h1>Aufgabe 5.3 TopSort&lt;/h1>
            
            &lt;/header>
                &lt;p>&lt;b>NEUE RELATION HINFUGEN &lt;/b>&lt;button onclick="newRelation()">neue Relation&lt;/button>&lt;/p>
                
        
                &lt;form id="newRelation"> &lt;/form> &lt;br>
                &lt;input id="newRelation-submit"  onclick="inputGet()"  type="submit" value="DONE">
                &lt;p id="ergbnis" > Eine Mögliche topologische Sortierung: &lt;/p>
        
           
            &lt;script src="topSort.js">&lt;/script>
        &lt;/body>
        &lt;script>
        
        
        
        
        &lt;/script>
        &lt;/html> 
          </pre>

      <p>Fügen Sie Ihren JavaScript-Quelltext aus der separaten Datei in das folgende Textarea ein:</p>

      <p><b>topSort.js:</b></p>
      <pre>

        var formNum = 0,arrRelations = [];
        function newRelation() &#123;
        let i=0;
            while(i!=2) &#123;
              i++;
              var newIn = 'newRelation-input-' + formNum++;
              var input = document.createElement("input");
                    input.type = "text";
                input.id = newIn;	
              document.getElementById("newRelation").appendChild(input);
            &#125;
            
        &#125;
        function inputGet() &#123;
            var d2Arr = [];
            for (i = 0; i < formNum; i++) &#123;
                d2Arr.push(document.getElementById(`newRelation-input-$&#123;i&#125;`).value);
                if (i % 2 != 0) &#123;arrRelations.push(d2Arr); d2Arr = [];
                 &#125;
             &#125;
          topsort(arrRelations);
        &#125;
        
        
        function topsort(array) &#123;
               var length = 0, finalArray = [], listPred = &#123;&#125;;
        
                for(var i in array) &#123;
                        if(listPred[array[i][0]] == null) &#123;
                                listPred[array[i][0]] = 0;
                                length++; &#125;
                        
                        if(listPred[array[i][1]] == null) &#123;
                                listPred[array[i][1]] = 1;
                                length++;&#125; else &#123;
                                listPred[array[i][1]]++;
                      &#125;
              &#125;
                
              while(length > 0) &#123;
                     for(var i in listPred) &#123;
                                if(listPred[i] == 0) &#123;
                                  finalArray.push(i);  
                                  for(var j in array) &#123;
                                        if(array[j][0] === i) &#123;
                                              listPred[array[j][1]]--; &#125;
                                        &#125;
                                        
                                        delete listPred[i];
                                        length--;
                              &#125;
                      &#125;
               &#125;
                
        document.getElementById("ergbnis").innerHTML = finalArray.toString();
        &#125;
        
        
          </pre>

    </div>
  </div>


  <div class="rightpane">
    <p id="ausfuhren"> QUELLCODE AUSFÜHREN</p>
    <a class="execute" href="assets/loesung5.3.html" target="_blank">klicken SIE HIER BITTE !</a>
  </div>
