<div id="aufgabe">
  <h1>Aufgabe 4.3. Fibonacci</h1>
  <p><b>Schreiben Sie im Browser die <a href="https://cssgridgarden.com/#de" target="_blank">Fibonacci-Funktion</a> in
      JavaScript und geben Sie die ersten 2000 Fibonacci-Zahlen 0,1,1,2,3,5,8,13,... auf der Konsole mit console.log()
      aus.
      Achten Sie auf Performanz: Berechnen Sie jeden Fibonacci-Wert nur einmal. Speichern Sie zu diesem Zweck jede
      bereits berechnete Fibonacci-Zahl in einer Tabelle.

      <p>QUELLCODE:</p>
      <pre> &lt;!DOCTYPE html>
        &lt;html>
        &lt;head>
        &lt;meta charset="ISO-8859-1">
        &lt;title>Insert title here&lt;/title>
        &lt;script>function fibonacci(n) &#123;
            var tabelle = [1,1]
            for (let i=2; i &lt; n; i++) &#123;
                tabelle[i] = tabelle[i-1] + tabelle[i-2];
                console.log(tabelle[i]);
            &#123;
            return tabelle;
        &#123;
        &lt;/script> 
        
        &lt;/head>
        &lt;body >
            &lt;button type ="button" onclick="fibonacci(100)"> OUTPUT &lt;/button>
        &lt;/body>
        &lt;/html>
            </pre>

      <p><b>Was ist die größte Fibonacci-Zahl, die sich noch als Integer sicher speichern lässt ( <a
            href="https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER"
            target="_blank">Number.MAX_SAFE_INTEGER</a>)? Die wievielte Fibonacci-Zahl in der Fibonacci-Folge ist das?
          <pre>function fibonacci(n) &#123;
                var tabelle = [1,1]
                const x = Number.MAX_SAFE_INTEGER;
                var y = 0;
                for (let i=2; i < n; i++) &#123;
                    tabelle[i] = tabelle[i-1] + tabelle[i-2]
                    if(tabelle[i]>x)&#123; 
                        y=tabelle[i-1];
                        console.log( "the number is  " + y + "  and in der Folge  "+ i--); 
                        break;
                    &#123;
                &#123;  
            &#123;
            fibonacci(100);
            
            //the number is  8944394323791464  kommt in der Stelle 78
            </pre>
          <p><b>Was ist die größte Fibonacci-Zahl, die sich noch als Number speichern lässt (<a
                href="https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_VALUE"
                target="_blank">Number.MAX_VALUE</a>)? Die wievielte Fibonacci-Zahl in der Fibonacci-Folge ist das (d.h.
              welche Stelle in der Fibonacci-Folge)?
              <pre>function fibonacci(n) &#123;
                var tabelle = [1,1]
                const x = Number.MAX_VALUE;
                var y = 0;
                for (let i=2; i < n; i++) &#123;
                    tabelle[i] = tabelle[i-1] + tabelle[i-2]
                            console.log(tabelle[i]);
            
                    if(tabelle[i]>x)&#123; 
                        y=tabelle[i-1];
                        console.log( "the number is  " + y + "  kommt in der Folge  "+ i--); 
                        break;
                    &#123;
                &#123;
                
            &#123;
            fibonacci(1000);
            
            //the number is  1.3069892237633987e+308  kommt in der Stelle 1476</pre>

              <p><b>Wechseln Sie zu <a
                    href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt"
                    target="_blank">BigInt</a>, um alle 2000 Fibonacci-Zahlen korrekt anzuzeigen. Geben Sie hier HTML-
                  und JavaScript-Code zusammen ein: </b></p>
              <pre>&lt;!DOCTYPE html>
                    &lt;html>
                    &lt;head>
                    &lt;meta charset="ISO-8859-1">
                    &lt;title>Insert title here&lt;/title>
                    &lt;script>
                    function fibonacci(n) &#123;
                        var tabelle = [BigInt(1),BigInt(1)]
                     
                        for ( i=2; i &lt; n; i++) &#123;
                            tabelle[i] = BigInt(tabelle[i-1]) + BigInt(tabelle[i-2]);
                                    console.log(tabelle[i]);
                    
                     
                        &#123;
                        
                    &#123;
                    
                    
                    &lt;/script> 
                    
                    &lt;/head>
                    &lt;body >
                        &lt;button type ="button" onclick="fibonacci(2000)"> OUTPUT &lt;/button>
                    &lt;/body>
                    &lt;/html></pre>

              <p><b>Optional: Was ist die größte Fibonacci-Zahl, die Sie mit<code> BigInt </code>korrekt berechnet
                  haben? An welcher Stelle in der Fibonacci-Folge steht diese? </b></p>
              <pre>the number is  8944394323791464n  kommt in der Stelle 78 </pre>
